{% extends '::base.html.twig' %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('static/js/modules/faq-display.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('static/js/modules/tabs-display.js') }}" ></script>
{% endblock %}

{% block body %}
    <section>
        <div class="aside-part wMosaic">
            <div class="side-menu">
                <div class="subdivision">
                    <div class="side-menu-title">
                        <span>{{ 'Categories'|trans() }}</span>
                    </div>

                    {% if categories %}
                        <ul class="brands-nav">
                            {% for category in categories %}
                                <li><a href="#section_{{ category.id }}">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <article class="wContent top-content">
            <div class="white-container cmsContent">
                <div class="tabs-container">
                    <div id="tab_0" class="tab tabSmall">{{ 'FAQ'|trans() }}</div>
                    <div id="tab_1" class="tab tabSmall">{{ 'Best practices'|trans() }}</div>
                </div>

                <div class="tab-content-container" id="tabcont_0">
                    {% if faqs %}
                        <div class="side-infos-block faq feedbacksContainer">
                            {% set currentCat = '' %}
                            {% for faq in faqs %}
                                {% if faq.category.id != currentCat %}
                                    {% if currentCat != '' %}</div><div class="separator">&nbsp;</div>{% endif %}
                                    {% set currentCat = faq.category.id %}
                                    <div id="section_{{ faq.category.id }}">
                                        <h3>{{ faq.category }}</h3>
                                {% endif %}
                                {% set faq_var = {'faq': faq} %}
                                {% include "LittleBigJoeFrontendBundle:includes:utils/aside-faq.html.twig" with faq_var %}
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="tab-content-container" id="tabcont_1">
                </div>
            </div>
        </article>
    </section>
{% endblock %}