{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'backend.project'|trans() }} {{ entity }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-search"></span> {{ 'backend.project'|trans() }} <span
                    class="text-primary">{{ entity }}</span></h1>
    </div>
    <p class="lead">{{ 'backend.project_infos'|trans() }}</p>

    <div class="row">
        <div class="col-sm-6 col-md-3 pull-left">
            <a href="#" class="thumbnail text-center">
                {% if entity.photo %}
                    <img src="{{ asset(entity.photo) }}">
                {% else %}
                    <strong>{{ 'backend.na'|trans() }}</strong>
                {% endif %}
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">{{ entity }}</h4>
                {{ entity.pitch }}
        </div>
    </div>

		<div class="clearfix">&nbsp;</div>

		<ul class="nav nav-tabs" id="tabs">
		  <li class="active"><a href="#mangopay">{{ 'backend.mangopay_infos'|trans() }}</a></li>
		  <li><a href="#related">{{ 'backend.related_infos'|trans() }}</a></li>
		  <li><a href="#region">{{ 'backend.regional_infos'|trans() }}</a></li>
		  <li><a href="#description">{{ 'backend.description'|trans() }}</a></li>
		  <li><a href="#project">{{ 'backend.project_infos'|trans() }}</a></li>
		</ul>
				
   	<div class="tab-content">   		
  		<div class="tab-pane active" id="mangopay">
  				<div class="clearfix">&nbsp;</div>
  				<p class="lead pull-right"> 
  						{{ 'backend.amount_raised'|trans() }} : {{ entity.amountCount }} {{ '€'|trans() }} - 
  						{{ 'backend.amount_to_raise'|trans() }} : {{ entity.amountRequired }} {{ '€'|trans() }} - 
  						{{ 'backend.amount_spent'|trans() }} : {{ totalWithdrawalAmount }} {{ '€'|trans() }} 
  				</p>
  				<p class="pull-right">
		  				{{ 'backend.mangopay_walled_id'|trans() }} : <strong>{{ entity.mangopayWalletId }}</strong> - 
					    {{ 'backend.mangopay_wallet_created_at'|trans() }} : <strong>{{ entity.mangopayCreatedAt|date('d/m/y H:i:s') }}</strong> - 
							{{ 'backend.mangopay_wallet_updated_at'|trans() }} : <strong>{{ entity.mangopayUpdatedAt|date('d/m/y H:i:s') }}</strong>
			    </p>
			    
			    <div class="clearfix">&nbsp;</div>
			    
			    {% if operations_pagination %}
			    		<h2>{{ 'backend.operations_list'|trans() }}</h2>
			    		<form method="GET" action="{{ path('littlebigjoe_backendbundle_projects_show', {id: entity.getId()}) }}">
	            		<div class="row">
		            		<div class="col-lg-3">
		    								<div class="input-group">
						            		<input type="text" class="form-control" id="operations_where" name="operations_where" />
						            		<span class="input-group-btn">
										    		    <input type="submit" class="btn btn-default" value="{{ 'OK'|trans() }}"/>
											      </span>
										    </div>
										</div>
									</div>
	            </form>
			    		<table class="table table-striped">
					        <thead>
					        <tr>
					            <th>{{ 'backend.user'|trans() }}</th>
					            <th>{{ 'backend.operation_type'|trans() }}</th>
					            <th>{{ 'backend.amount'|trans() }}</th>
					            <th>{{ 'backend.tag'|trans() }}</th>				            
					            <th>{{ 'backend.creation_date'|trans() }}</th>
					            <th>{{ 'backend.update_date'|trans() }}</th>
					            <th>{{ 'backend.actions'|trans() }}</th>
					        </tr>
					        </thead>
					        <tbody>
					        {% for operation in operations_pagination %}
					            <tr>
					                <td><a href="{{ path('littlebigjoe_backendbundle_users_show', { 'id': operation.User.id }) }}">{{ operation.User }}</a></td>
					                <td>{{ operation.TransactionType|trans() }}</td>
					                <td>{{ operation.Amount/100 }} {{ '€'|trans() }}</td>
					                <td>{{ operation.Tag }}</td>
					                <td>{{ operation.CreationDate|date('d/m/Y h:i') }}</td>
					                <td>{{ operation.UpdateDate|date('d/m/Y h:i') }}</td>
													<td>
					                    <a href="{{ path('littlebigjoe_backendbundle_contributions_show', { 'id': operation.Tag }) }}" class="btn btn-primary btn-xs">{{ 'backend.detail'|trans() }}</a>
					                		<a href="{{ path('littlebigjoe_backendbundle_contributions_edit', { 'id': operation.Tag }) }}" class="btn btn-danger btn-xs">{{ 'backend.refund'|trans() }}</a>
					                </td>
					            </tr>
					        {% endfor %}
					        </tbody>
					    </table>
					
					    <div class="navigation">
					        {{ knp_pagination_render(operations_pagination) }}
					    </div>
			    {% endif %}				
			    
			    {% if contributors_pagination %} 
					    <div class="clearfix">&nbsp;</div>
					    
					    <h2>{{ 'backend.contributors_list'|trans() }}</h2>
			    		<form method="GET" action="{{ path('littlebigjoe_backendbundle_projects_show', {id: entity.getId()}) }}">
	            		<div class="row">
		            		<div class="col-lg-3">
		    								<div class="input-group">
						            		<input type="text" class="form-control" id="contributors_where" name="contributors_where" />
						            		<span class="input-group-btn">
										    		    <input type="submit" class="btn btn-default" value="{{ 'OK'|trans() }}"/>
											      </span>
										    </div>
										</div>
									</div>
	            </form>
			    		<table class="table table-striped">
					        <thead>
					        <tr>
					            <th>{{ 'backend.email'|trans() }}</th>
					            <th>{{ 'backend.firstname'|trans() }}</th>
					            <th>{{ 'backend.lastname'|trans() }}</th>
					            <th>{{ 'backend.can_register_new_payment_method'|trans() }}</th>
					            <th>{{ 'backend.payment_method'|trans() }}</th>
					            <th>{{ 'backend.ip'|trans() }}</th>
					            <th>{{ 'backend.wallet_amount'|trans() }}</th>
					            <th>{{ 'backend.id'|trans() }}</th>
					            <th>{{ 'backend.creation_date'|trans() }}</th>
					            <th>{{ 'backend.update_date'|trans() }}</th>
					            <th>{{ 'backend.actions'|trans() }}</th>
					        </tr>
					        </thead>
					        <tbody>
					        {% for contributor in contributors_pagination %}
					            <tr>
					                <td><a href="{{ path('littlebigjoe_backendbundle_users_show', { 'id': contributor.User.id }) }}">{{ contributor.User }}</a></td>
					                <td>{{ contributor.FirstName }}</td>
					                <td>{{ contributor.LastName }}</td>
					                <td>
															{% if contributor.CanRegisterMeanOfPayment %}
													        <span class="label label-success">{{ 'backend.yes'|trans() }}</span>
													    {% else %}
													        <span class="label label-default">{{ 'backend.no'|trans() }}</span>
													    {% endif %}
													</td>
					                <td>{{ 'backend.cb_visa_mastercard'|trans() }}</td>
					                <td>{{ contributor.IP }}</td>
					                <td>{{ contributor.PersonalWalletAmount }} {{ '€'|trans() }}</td>
					                <td>{{ contributor.ID }}</td>
					                <td>{{ contributor.CreationDate|date('d/m/Y h:i') }}</td>
					                <td>{{ contributor.UpdateDate|date('d/m/Y h:i') }}</td>
					                <td>
					                    <a href="{{ path('littlebigjoe_backendbundle_users_show', { 'id': contributor.User.id }) }}" class="btn btn-primary btn-xs">{{ 'backend.detail'|trans() }}</a>
					                </td>
					            </tr>
					        {% endfor %}
					        </tbody>
					    </table>
					
					    <div class="navigation">
					        {{ knp_pagination_render(contributors_pagination) }}
					    </div>
			    {% endif %}	
			    			    
					<div class="clearfix">&nbsp;</div>
					    
			    <h2>{{ 'backend.transfers'|trans() }}</h2>
			    
			    {% if withdrawals_pagination %} 
					    <div class="clearfix">&nbsp;</div>
					    
					    <h3>{{ 'backend.last_withdrawals'|trans() }} <a href="{{ path('littlebigjoe_backendbundle_projects_synchronize_withdrawals', {id: entity.id}) }}" class="pull-right btn btn-sm btn-warning"><i class="glyphicon glyphicon-repeat"></i> {{ 'backend.synchronize_withdrawals'|trans() }}</a></h3>
			    					    		
			    		<table class="table table-striped">
					        <thead>
					        <tr>
					            <th>{{ knp_pagination_sortable(withdrawals_pagination, 'backend.creation_date'|trans(), 'w.mangopayCreatedAt') }}</th>
					            <th>{{ knp_pagination_sortable(withdrawals_pagination, 'backend.update_date'|trans(), 'w.mangopayUpdatedAt') }}</th>
					            <th>{{ 'backend.user'|trans() }}</th>
					            <th>{{ 'backend.wallet'|trans() }}</th>
					            <th>{{ knp_pagination_sortable(withdrawals_pagination, 'backend.amount'|trans(), 'w.mangopayAmount') }}</th>
					            <th>{{ knp_pagination_sortable(withdrawals_pagination, 'backend.amount_without_fees'|trans(), 'w.mangopayAmountWithoutFees') }}</th>
					            <th>{{ knp_pagination_sortable(withdrawals_pagination, 'backend.fees'|trans(), 'w.mangopayClientFeeAmount') }}</th>
					            <th>{{ knp_pagination_sortable(withdrawals_pagination, 'backend.succeeded_payment'|trans(), 'pc.mangopayIsSucceeded') }}</th>
            					<th>{{ knp_pagination_sortable(withdrawals_pagination, 'backend.completed_payment'|trans(), 'pc.mangopayIsCompleted') }}</th>
					        </tr>
					        </thead>
					        <tbody>
					        {% for withdrawal in withdrawals_pagination %}
					            <tr>
					                <td>{{ withdrawal.mangopayCreatedAt|date('d/m/Y h:i') }}</td>
					                <td>{{ withdrawal.mangopayUpdatedAt|date('d/m/Y h:i') }}</td>
					                <td>
					                    <a href="{{ path('littlebigjoe_backendbundle_users_show', { 'id': withdrawal.user.id }) }}">{{ withdrawal.user }}</a>
					                </td>
					                <td>{{ entity.mangopayWalletId }}</td>
					                <td>{{ withdrawal.mangopayAmount }} {{ '€'|trans() }}</td>
					                <td>{{ withdrawal.mangopayAmountWithoutFees }} {{ '€'|trans() }}</td>
					               	<td>{{ withdrawal.mangopayClientFeeAmount }} {{ '€'|trans() }}</td>
					                <td>
					                    {% if withdrawal.mangopayIsSucceeded %}
					                        <span class="label label-success">{{ 'backend.success'|trans() }}</span>
					                    {% else %}
					                        <span class="label label-default">{{ 'backend.failure'|trans() }}</span>
					                    {% endif %}
					                </td>
					                <td>
					                    {% if withdrawal.mangopayIsCompleted %}
					                        <span class="label label-success">{{ 'backend.completed'|trans() }}</span>
					                    {% else %}
					                        <span class="label label-default">{{ 'backend.not_completed'|trans() }}</span>
					                    {% endif %}
					                </td>
					            </tr>
					        {% endfor %}
					        </tbody>
					    </table>
					
					    <div class="navigation">
					        {{ knp_pagination_render(contributors_pagination) }}
					    </div>
			    {% endif %}	
			    
			    <div class="clearfix">&nbsp;</div>
					<h3>
							{{ 'backend.create_withdrawal'|trans() }} 
							<a class="pull-right" href="{{ path('littlebigjoe_backendbundle_beneficiaries_new') }}">
		            	<small>{{ 'backend.add_new_beneficiary'|trans() }}</small>
		        	</a>
		      </h3>
					
			    {{ form(withdraw_form, {attr:{role:'form' }}) }}

			    <div class="clearfix">&nbsp;</div>
			</div>
   	
  		<div class="tab-pane" id="related">
  				<div class="clearfix">&nbsp;</div>
			    <p>{{ 'backend.associated_brand'|trans() }} : <a
			                href="{{ path('littlebigjoe_backendbundle_brands_show', { 'id': entity.brand.id }) }}"><strong>{{ entity.brand }}</strong></a>
			    </p>
			    <p>{{ 'backend.associated_categories'|trans() }} :
                    {% for category in entity.categories %}
                    <a href="{{ path('littlebigjoe_backendbundle_categories_show', { 'id': category.id }) }}"><strong>{{ category }}</strong></a>
                    {% endfor %}
			    </p>
			    <p>{{ 'backend.creator'|trans() }} : <a
			                href="{{ path('littlebigjoe_backendbundle_users_show', { 'id': entity.user.id }) }}"><strong>{{ entity.user }}</strong></a>
			    </p>
                <p>{{ 'backend.product'|trans() }} : <a
                            href="{{ path('littlebigjoe_backendbundle_project_products_show', { 'id': entity.product.id }) }}"><strong>{{ entity.product }}</strong></a>
                </p>
			    <p>{{ 'backend.status'|trans() }} :
			        {% if entity.status == '1' %}
			            <span class="label label-primary">{{ 'backend.engagement_phase'|trans() }}</span>
			        {% else %}
			            <span class="label label-success">{{ 'backend.funding_phase'|trans() }}</span>
			        {% endif %}
			        {% if entity.statusUpdatedAt %} {{ 'backend.updated_at'|trans() }} : {{ entity.statusUpdatedAt|date('d/m/Y H:i:s') }}{% endif %}
			    </p>
			    <p>{{ 'backend.is_favorite'|trans() }} :
                    {% if entity.isFavorite %}
                        <span class="label label-success">{{ 'backend.yes'|trans() }}</span>
                    {% else %}
                        <span class="label label-primary">{{ 'backend.no'|trans() }}</span>
                    {% endif %}
			    </p>
			    <p>{{ 'backend.has_brand_representation'|trans() }} :
                    {% if entity.hasBrandRepresentation %}
                        <span class="label label-success">{{ 'backend.yes'|trans() }}</span>
                    {% else %}
                        <span class="label label-primary">{{ 'backend.no'|trans() }}</span>
                    {% endif %}
                </p>
			    <p>{{ 'backend.ending_at'|trans() }} : <strong>{{ entity.endingAt|date('d/m/Y H:i:s') }}</strong></p>
			
			    {% if entity.endedAt %}
			        <div class="alert alert-info">
			            <p>{{ 'backend.project_ended_on'|trans() }} <strong>{{ entity.endedAt|date('d/m/Y H:i:s') }}</strong>
			            </p>
			        </div>
			    {% endif %}
			
			    {% if entity.deletedAt %}
			        <div class="alert alert-danger">
			            <p>{{ 'backend.project_deleted_on'|trans() }} <strong>{{ entity.deletedAt|date('d/m/Y H:i:s') }}</strong>
			            </p>
			        </div>
			    {% endif %}
			</div>
			
			<div class="tab-pane" id="region">
  				<div class="clearfix">&nbsp;</div>
					<p>{{ 'backend.location'|trans() }} : <strong>{{ entity.location }}</strong></p>
    			<p>{{ 'backend.language'|trans() }} : <strong>{{ entity.language }}</strong></p>
			</div>
			
			<div class="tab-pane" id="description">
  				<div class="clearfix">&nbsp;</div>
  				{{ entity.description|raw() }}

                <p>{{ 'backend.medias'|trans() }}</p>
                {% for productMedia in entity.medias %}
                    <div class="item">
                        <div class="thumb-cont">
                            <img class="carousel-thumbnail" style="width:100px" src="{% if productMedia.type == 'video' %}{{ productMedia.image }}{% else %}{{ asset(productMedia.image) }}{% endif %}" alt="alt-LBJ - project image" />
                        </div>
                    </div>
                {% endfor %}
  		</div>
  		
  		<div class="tab-pane" id="project">
  				<div class="clearfix">&nbsp;</div>
  				<p>
			        {{ 'backend.amount_to_raise'|trans() }} : <strong>{{ entity.amountCount }} {{ '€'|trans() }}
			            / {{ entity.amountRequired }} {{ '€'|trans() }}</strong><br/>
			    <div class="progress progress-striped active">
			        <div class="progress-bar" role="progressbar" aria-valuenow="{{ entity.amountCount }}" aria-valuemin="0"
			             aria-valuemax="{{ entity.amountRequired }}"
			             style="width:{% if entity.amountCount == 0 %}0{% else %}{{ (entity.amountCount/entity.amountRequired) * 100 }}{% endif %}%">
			            <span class="sr-only">{% if entity.amountCount == 0 %}0{% else %}{{ ((entity.amountCount/entity.amountRequired) * 100)|number_format(1, '.', ',') }}{% endif %} {{ 'backend.percent_completed'|trans() }}</span>
			        </div>
			    </div>
			    </p>
			    <p>
			        {{ 'backend.likes_to_get'|trans() }} : <strong>{{ entity.likesCount }}
			            / {{ entity.likesRequired }}</strong><br/>
			    <div class="progress progress-striped active">
			        <div class="progress-bar" role="progressbar" aria-valuenow="{{ entity.likesCount }}" aria-valuemin="0"
			             aria-valuemax="{{ entity.likesRequired }}"
			             style="width:{% if entity.likesCount == 0 %}0{% elseif (entity.likesCount/entity.likesRequired) * 100 > 100 %}100{% else %}{{ ((entity.likesCount/entity.likesRequired) * 100)|number_format(1, '.', ',') }}{% endif %}%">
			            <span class="sr-only">{% if entity.likesCount == 0 %}0{% elseif (entity.likesCount/entity.likesRequired) * 100 > 100 %}100{% else %}{{ ((entity.likesCount/entity.likesRequired) * 100)|number_format(1, '.', ',') }}{% endif %} {{ 'backend.percent_completed'|trans() }}</span>
			        </div>
			    </div>
			    </p>
			</div>  		
		</div>

    <div class="clearfix">&nbsp;</div>
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_projects') }}">
            {{ 'backend.back_to_list'|trans() }}
        </a>
        <a class="btn btn-primary" href="{{ path('littlebigjoe_backendbundle_projects_edit', { 'id': entity.id }) }}">
            {{ 'backend.edit'|trans() }}
        </a>
    </p>
{% endblock %}

{% block footer_javascripts %}
		{{ parent() }}
		<script type="text/javascript">
				$(document).ready(function(){
						$('#tabs a').click(function (e) {
						  e.preventDefault()
						  $(this).tab('show')
						});
				});
		</script>
{% endblock %}