{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'backend.project'|trans() }} {{ entity }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-search"></span> {{ 'backend.project'|trans() }} <span
                    class="text-primary">{{ entity }}</span></h1>
    </div>
    <p class="lead">{{ 'backend.project_infos'|trans() }}</p>

    <div class="row">
        <div class="col-sm-6 col-md-3 pull-left">
            <a href="#" class="thumbnail text-center">
                {% if entity.photo %}
                    <img src="{{ asset(entity.photo) }}">
                {% else %}
                    <strong>{{ 'backend.na'|trans() }}</strong>
                {% endif %}
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">{{ entity }}</h4>
                {{ entity.pitch }}
        </div>
    </div>

		<div class="clearfix">&nbsp;</div>

		<ul class="nav nav-tabs" id="tabs">
		  <li class="active"><a href="#related">{{ 'backend.related_infos'|trans() }}</a></li>
		  <li><a href="#region">{{ 'backend.regional_infos'|trans() }}</a></li>
		  <li><a href="#description">{{ 'backend.description'|trans() }}</a></li>
		  <li><a href="#project">{{ 'backend.project_infos'|trans() }}</a></li>
		  <li><a href="#mangopay">{{ 'backend.mangopay_infos'|trans() }}</a></li>
		</ul>
				
   	<div class="tab-content">
  		<div class="tab-pane active" id="related">
  				<div class="clearfix">&nbsp;</div>
			    <p>{{ 'backend.associated_brand'|trans() }} : <a
			                href="{{ path('littlebigjoe_backendbundle_brands_show', { 'id': entity.brand.id }) }}"><strong>{{ entity.brand }}</strong></a>
			    </p>
			    <p>{{ 'backend.associated_category'|trans() }} : <a
			                href="{{ path('littlebigjoe_backendbundle_categories_show', { 'id': entity.category.id }) }}"><strong>{{ entity.category }}</strong></a>
			    </p>
			    <p>{{ 'backend.creator'|trans() }} : <a
			                href="{{ path('littlebigjoe_backendbundle_users_show', { 'id': entity.user.id }) }}"><strong>{{ entity.user }}</strong></a>
			    </p>
			    <p>{{ 'backend.status'|trans() }} :
			        {% if entity.status == '1' %}
			            <span class="label label-primary">{{ 'backend.engagement_phase'|trans() }}</span>
			        {% else %}
			            <span class="label label-success">{{ 'backend.funding_phase'|trans() }}</span>
			        {% endif %}
			        {% if entity.statusUpdatedAt %} {{ 'backend.updated_at'|trans() }} : {{ entity.statusUpdatedAt|date('d/m/Y H:i:s') }}{% endif %}
			    </p>
			    <p>{{ 'backend.ending_at'|trans() }} : <strong>{{ entity.endingAt|date('d/m/Y H:i:s') }}</strong></p>
			
			    {% if entity.endedAt %}
			        <div class="alert alert-info">
			            <p>{{ 'backend.project_ended_on'|trans() }} <strong>{{ entity.endedAt|date('d/m/Y H:i:s') }}</strong>
			            </p>
			        </div>
			    {% endif %}
			
			    {% if entity.deletedAt %}
			        <div class="alert alert-danger">
			            <p>{{ 'backend.project_deleted_on'|trans() }} <strong>{{ entity.deletedAt|date('d/m/Y H:i:s') }}</strong>
			            </p>
			        </div>
			    {% endif %}
			</div>
			
			<div class="tab-pane" id="region">
  				<div class="clearfix">&nbsp;</div>
					<p>{{ 'backend.location'|trans() }} : <strong>{{ entity.location }}</strong></p>
    			<p>{{ 'backend.language'|trans() }} : <strong>{{ entity.language }}</strong></p>
			</div>
			
			<div class="tab-pane" id="description">
  				<div class="clearfix">&nbsp;</div>
  				{{ entity.description|raw() }}
  		</div>
  		
  		<div class="tab-pane" id="project">
  				<div class="clearfix">&nbsp;</div>
  				<p>
			        {{ 'backend.amount_to_raise'|trans() }} : <strong>{{ entity.amountCount }}
			            / {{ entity.amountRequired }}</strong><br/>
			    <div class="progress progress-striped active">
			        <div class="progress-bar" role="progressbar" aria-valuenow="{{ entity.amountCount }}" aria-valuemin="0"
			             aria-valuemax="{{ entity.amountRequired }}"
			             style="width:{% if entity.amountCount == 0 %}0{% else %}{{ (entity.amountCount/entity.amountRequired) * 100 }}{% endif %}%">
			            <span class="sr-only">{% if entity.amountCount == 0 %}0{% else %}{{ ((entity.amountCount/entity.amountRequired) * 100)|number_format(1, '.', ',') }}{% endif %} {{ 'backend.percent_completed'|trans() }}</span>
			        </div>
			    </div>
			    </p>
			    <p>
			        {{ 'backend.likes_to_get'|trans() }} : <strong>{{ entity.likesCount }}
			            / {{ entity.likesRequired }}</strong><br/>
			    <div class="progress progress-striped active">
			        <div class="progress-bar" role="progressbar" aria-valuenow="{{ entity.likesCount }}" aria-valuemin="0"
			             aria-valuemax="{{ entity.likesRequired }}"
			             style="width:{% if entity.likesCount == 0 %}0{% elseif (entity.likesCount/entity.likesRequired) * 100 > 100 %}100{% else %}{{ ((entity.likesCount/entity.likesRequired) * 100)|number_format(1, '.', ',') }}{% endif %}%">
			            <span class="sr-only">{% if entity.likesCount == 0 %}0{% elseif (entity.likesCount/entity.likesRequired) * 100 > 100 %}100{% else %}{{ ((entity.likesCount/entity.likesRequired) * 100)|number_format(1, '.', ',') }}{% endif %} {{ 'backend.percent_completed'|trans() }}</span>
			        </div>
			    </div>
			    </p>
			</div>
  		
  		<div class="tab-pane" id="mangopay">
  				<div class="clearfix">&nbsp;</div>
  				<p>{{ 'backend.mangopay_walled_id'|trans() }} : <strong>{{ entity.mangopayWalletId }}</strong></p>
			    <p>{{ 'backend.mangopay_user_created_at'|trans() }} : <strong>{{ entity.mangopayCreatedAt|date('d/m/y H:i:s') }}</strong>
			    </p>
			    <p>{{ 'backend.mangopay_user_updated_at'|trans() }} : <strong>{{ entity.mangopayUpdatedAt|date('d/m/y H:i:s') }}</strong>
			    </p>
			</div>
		</div>

    <div class="clearfix">&nbsp;</div>
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_projects') }}">
            {{ 'backend.back_to_list'|trans() }}
        </a>
        <a class="btn btn-primary" href="{{ path('littlebigjoe_backendbundle_projects_edit', { 'id': entity.id }) }}">
            {{ 'backend.edit'|trans() }}
        </a>
    </p>
{% endblock %}

{% block footer_javascripts %}
		{{ parent() }}
		<script type="text/javascript">
				$(document).ready(function(){
						$('#tabs a').click(function (e) {
						  e.preventDefault()
						  $(this).tab('show')
						});
				});
		</script>
{% endblock %}