{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-signin">
    <h2 class="form-signin-heading">{{ 'Edit profile'|trans() }}</h2>

    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="{{ 'profile.edit.submit'|trans }}"/>
    </div>
</form>
