{% trans_default_domain 'FOSUserBundle' %}

{% if user.photo %}
    <img src="{{ asset(user.photo) }}" width="150">
{% else %}
    <strong>{{ 'N/A'|trans() }}</strong>
{% endif %}

<h2>{{ user }}</h2>
    
<p><a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">{{ 'Edit my profile' }}</a></p>

<div class="clearfix">&nbsp;</div>

{% if user.projects|length > 0 %}    		
		<h2 id="projects">{{ 'My projects'|trans() }}</h2>

    {% for project in user.projects %}
        {% if project.photo %}
            <img src="{{ asset(project.photo) }}" width="200" height="200">
        {% else %}
            <strong>{{ 'No image'|trans() }}</strong>
        {% endif %}

        {% if project.brand.logo %}
            <img src="{{ asset(project.brand.logo) }}" width="50" height="50">
        {% endif %}

        <h3>
            <a href="{{ path('littlebigjoe_frontendbundle_project_show', {'slug': project.slug}) }}">{{ project.name }}</a>
        </h3>
        {% if project.status == '1' %}
            <span class="label label-primary">{{ 'Engagement phase'|trans() }}</span>
        {% else %}
            <span class="label label-success">{{ 'Funding phase'|trans() }}</span>
        {% endif %}

        <p>{{ project.pitch }}</p>
        <p>
            <a href="{{ path('littlebigjoe_frontendbundle_category_show', {'slug': project.category.slug}) }}">{{ project.category }}</a>
        </p>

        {% if project.status == '1' %}
            <p>
                <strong>{{ project.likesCount }}</strong> {{ 'likes'|trans() }} |
                {% if project.likesCount == 0 %}
                    0
                {% elseif ((project.likesCount/project.likesRequired) * 100) > 100 %}
                    100
                {% else %}
                    {{ ((project.likesCount/project.likesRequired) * 100)|number_format(1, '.', ',') }}
                {% endif %} %
            </p>
        {% else %}
            <p>
                {% if project.amountCount == 0 %}
                    0
                {% elseif ((project.amountCount/project.amountRequired) * 100) > 100 %}
                    100
                {% else %}
                    {{ ((project.amountCount/project.amountRequired) * 100)|number_format(1, '.', ',') }}
                {% endif %} % |
                <strong>{{ project.amountCount }}</strong>{{ '€'|trans() }} |
                {{ project.endingAt|time_remaining }}
            </p>
        {% endif %}
    {% endfor %}              
{% endif %}

<div class="clearfix">&nbsp;</div>

{% if user.contributions|length > 0 %}    		
		<h2 id="contributions">{{ 'My contributions'|trans() }}</h2>

    {% for contribution in user.contributions|reverse() %}
    		<h3>
            <a href="{{ path('littlebigjoe_frontendbundle_project_show', {'slug': contribution.project.slug}) }}">{{ contribution.project.name }}</a>
        </h3>
        <h4>{{ contribution.mangopayAmount() }} {{ '€'|trans() }} {% if contribution.anonymous %}({{ 'Anonymous contribution'|trans() }}){% else %}({{ 'Public contribution'|trans() }}){% endif %}</h4>
   			<p>{{ 'Made on'|trans() }} {{ contribution.createdAt|localizeddate('medium', 'medium') }}</p>
   			{% if contribution.reward %}
   					<p>
   							{{ 'Associated reward'|trans() }} : {{ contribution.reward.title }}<br />
   							<small>{{ contribution.reward.description }}</small>
   					</p>
   			{% endif %}   			
   			{% if contribution.invoice %}
   					<p><a href="{{ asset('uploads/pdfs/' ~ contribution.invoice) }}" target="_blank">{{ 'Download invoice'|trans() }}</a></p>
   			{% endif %}
   	{% endfor %}
{% endif %}
