<div class="brand-sheet">

    <div class="img-container">
        <a href="{{ path('littlebigjoe_frontendbundle_brand_show', {'slug': brand.slug}) }}">
            {% if brand.logo %}
                <img class="pres-thumbnail" src="{{ asset(brand.logo)|apply_filter('255x255') }}" alt="{{ brand.name }}" />
            {% else %}
		        <img class="pres-thumbnail" src="{{ asset('static/img/mascot-square.png')|apply_filter('255x255') }}" alt="{{ brand.name }}" />
            {% endif %}
        </a>
    </div>

    <div class="brand-infos-container">
        <h3><a href="{{ path('littlebigjoe_frontendbundle_brand_show', {'slug': brand.slug}) }}">{{ brand.name|truncate(20) }}</a></h3>

        <div class="projects-nb">
            {{ brand.projects|length }} {{ 'project'|trans() }}{% if brand.projects|length > 1 %}s{% endif %}
        </div>

        <div class="social-links">
            {% if brand.facebookUrl %}
                <a href="{{ brand.facebookUrl }}"><img class="icon" src="{{ asset('static/img/icons/icon-social-facebook.png') }}" alt="Facebook {{ brand.name }}" /></a>
            {% endif %}
            {% if brand.twitterUrl %}
                <a href="{{ brand.twitterUrl }}"><img class="icon" src="{{ asset('static/img/icons/icon-social-twitter.png') }}" alt="Twitter {{ brand.name }}" /></a>
            {% endif %}
            {% if brand.googleUrl %}
                <a href="{{ brand.googleUrl }}"><img class="icon" src="{{ asset('static/img/icons/icon-social-google.png') }}" alt="Google {{ brand.name }}" /></a>
            {% endif %}
        </div>
    </div>

</div>
