<div class="list-sheet">

    <div class="img-container">

        {% if project.photo %}
            <img src="{{ asset(project.photo)|apply_filter('239x239') }}" width="239">
        {% else %}
            <img class="pres-thumbnail" src="{{ asset('static/img/mascot-square.png')|apply_filter('239x239') }}" alt="alt-LBJ - project image" />
        {% endif %}

        <div class="project-label">
            {% if project.status != '1' %}
                <span class="orange-text"><strong>{{ project.amountCount|default('0') }} &euro;</strong></span> {{ 'raised'|trans() }}
                <img class="mosaic-project-type" src="{{ asset('static/img/icons/icon-mosaic-funded.png') }}" alt="alt-LBJ - project type" />
            {% else %}
                <img class="icon" src="{{ asset('static/img/icons/icon-heart-white.png') }}" alt="alt-LBJ - likes icon" />
                <span class="orange-text"><strong>{{ project.likesCount|default('0') }}</strong></span>
                {% transchoice project.likesCount|default('0') %}{0} like|{1} like|]1,Inf] likes{% endtranschoice %}</h2>
                <img class="mosaic-project-type" src="{{ asset('static/img/icons/icon-mosaic-indev.png') }}" alt="alt-LBJ - project type" />
            {% endif %}
        </div>
    </div>

    <div class="list-infos-container">
        {% if project.status == '1' or project.product is not defined %}
            <h3><a href="{{ path('littlebigjoe_frontendbundle_project_show', {'id': project.id, 'slug': project.slug}) }}">{{ project.name }}</a></h3>
        {% else %}
            <h3><a href="{{ path('littlebigjoe_frontendbundle_project_show', {'id': project.id, 'slug': project.slug}) }}">{{ project.product.name }}</a></h3>
        {% endif %}

        {% set canCreateProduct = false %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% set canCreateProduct = true %}
        {% elseif is_granted('ROLE_BRAND_ADMIN') %}
            {% for brand in app.user.brands %}
                {% if brand.id == entity.brand.id %}
                    {% set canCreateProduct = true %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if canCreateProduct and project.status == '1' and project.product and project.product.validatedAt is null %}
            <div class="clearfix"></div>
            <p><a href="{{ path('littlebigjoe_frontendbundle_project_create_product', {'id': project.id, 'slug': project.slug}) }}" class="btn btn-primary">{{ 'Validate'|trans() }}</a></p>
            <div class="clearfix"></div>
        {% endif %}

        {% if project.status == '1' or project.product is not defined %}
            <p class="project-description">{{ project.pitch }}</p>
        {% else %}
            <p class="project-description">{{ project.product.pitch }}</p>
        {% endif %}

        <div class="stat">
            <img class="icon" src="{{ asset('static/img/icons/icon-people-gray.png') }}" alt="alt-LBJ - people" /> <span class="orange-text"><strong>{{ project.contributions|length|default('0') }}</strong></span> {% transchoice project.contributions|length|default('0') %}{0} participant|{1} participant|]1,Inf] participants{% endtranschoice %}
        </div>
        <div class="stat">
            <img class="icon" src="{{ asset('static/img/icons/icon-clock.png') }}" alt="alt-LBJ - clock" /> <span class="orange-text"><strong>{{ project.endingAt|time_remaining }}</strong></span> {{ 'remaining'|trans() }}
        </div>

        <div class="status-bar-container">
            <img src="{{ asset('static/img/bg/progress-bar.jpg') }}" alt="alt-LBJ - status bar" />

            {% if project.status == '1' %}
                {% if project.likesCount == 0 %}
                    {% set project_status = 0 %}
                {% elseif ((project.likesCount/project.likesRequired) * 100) > 100 %}
                    {% set project_status = 100 %}
                {% else %}
                    {% set project_status = ((project.likesCount/project.likesRequired) * 100)|number_format(1, '.', ',') %}
                {% endif %}
            {% else %}
                {% if project.amountCount == 0 %}
                    {% set project_status = 0 %}
                {% elseif ((project.amountCount/project.amountRequired) * 100) > 100 %}
                    {% set project_status = 100 %}
                {% else %}
                    {% set project_status = ((project.amountCount/project.amountRequired) * 100)|number_format(1, '.', ',') %}
                {% endif %}
            {% endif %}

            <div class="status-bar-overflowed" data-status-percent="{{ project_status }}"></div>
        </div>

        <div class="keywords-container">
            {% for category in project.categories %}
                <div class="keyword">
                <span><a href="{{ path('littlebigjoe_frontendbundle_category_show', {'slug':category.slug}) }}">
                        {{ category }}</a></span>
                    <img src="{{ asset('static/img/bg/keyword.png') }}" alt="alt-LBJ - keyword" />
                </div>
            {% endfor %}
        </div>

    </div>

</div>