<div class="mosaic-sheet">

    <div class="img-container">
        {% if project.isFavorite %}
            <img class="favorite-icon" src="{{ asset('static/img/icons/icon-favorite.png') }}" alt="alt-LBJ - favorite icon" />
        {% endif %}

        {% if project.photo %}
            <img class="pres-thumbnail" src="{{ asset(project.photo)|apply_filter('260x174') }}" style="width:260px; height:174px">
        {% else %}
            <img class="pres-thumbnail" src="{{ asset('static/img/mascot-square.png')|apply_filter('260x174') }}" alt="alt-LBJ - project image" />
        {% endif %}

        <div class="project-label">
            <a class="white" href="{{ path('littlebigjoe_frontendbundle_brand_show', {'slug': project.brand.slug}) }}">
                {% if project.brand.logo %}
                    <img alt="alt-LBJ - brand logo" src="{{ asset(project.brand.logo) }}" width="32" height="32" class="mosaic-brand-logo">
                {% else %}
                    {{ project.brand }}
                {% endif %}
            </a>

            {% if project.status != '1' %}
                <img class="mosaic-project-type" src="{{ asset('static/img/icons/icon-mosaic-funded.png') }}" alt="alt-LBJ - project type" />
            {% else %}
                <img class="mosaic-project-type" src="{{ asset('static/img/icons/icon-mosaic-indev.png') }}" alt="alt-LBJ - project type" />
            {% endif %}
        </div>
    </div>

    <div class="mosaic-infos-container">
        {% if project.status == '1' or project.product is not defined %}
            <h3><a href="{{ path('littlebigjoe_frontendbundle_project_show', {'id': project.id, 'slug': project.slug}) }}">{{ project.name }}</a></h3>
        {% else %}
            <h3><a href="{{ path('littlebigjoe_frontendbundle_project_show', {'id': project.id, 'slug': project.slug}) }}">{{ project.product.name }}</a></h3>
        {% endif %}

        {% set canCreateProduct = false %}
        {% if is_granted('ROLE_BRAND_ADMIN') %}
            {% for brand in app.user.brands %}
                {% if brand.id == project.brand.id %}
                    {% set canCreateProduct = true %}
                {% endif %}
            {% endfor %}
        {% elseif is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
            {% set canCreateProduct = true %}
        {% endif %}
        {% if canCreateProduct and project.status == '1' and ((project.product is null) or (project.product and project.product.validatedAt is null)) %}
            <div class="clearfix"></div>
            <p><a href="{{ path('littlebigjoe_frontendbundle_project_create_product', {'id': project.id, 'slug': project.slug}) }}" class="btn btn-primary">{{ 'Validate'|trans() }}</a></p>
            <div class="clearfix"></div>
        {% endif %}

        {% if project.status == '1' or project.product is not defined %}
            <p class="project-description">{{ project.pitch|truncate(140, true, '...') }}</p>
        {% else %}
            <p class="project-description">{{ project.product.pitch|truncate(140, true, '...') }}</p>
        {% endif %}

        <div class="author">
            <a href="{{ path('littlebigjoe_frontendbundle_user_show', {'id': project.user.id}) }}">
                <img class="icon" src="{{ asset('static/img/icons/icon-author.png') }}" alt="alt-LBJ - author" /> {{ project.user }}</a>
        </div>
    </div>

    <div class="mosaic-status-bar">
        <div class="status-bar-container">
            <img src="{{ asset('static/img/bg/progress-bar.jpg') }}" alt="alt-LBJ - status bar" />

            {% if project.status == '1' %}
                {% if project.likesCount == 0 %}
                    {% set project_status = 0 %}
                {% elseif ((project.likesCount/project.likesRequired) * 100) > 100 %}
                    {% set project_status = 100 %}
                {% else %}
                    {% set project_status = ((project.likesCount/project.likesRequired) * 100)|number_format(1, '.', ',') %}
                {% endif %}
            {% else %}
                {% if project.amountCount == 0 %}
                    {% set project_status = 0 %}
                {% elseif ((project.amountCount/project.amountRequired) * 100) > 100 %}
                    {% set project_status = 100 %}
                {% else %}
                    {% set project_status = ((project.amountCount/project.amountRequired) * 100)|number_format(1, '.', ',') %}
                {% endif %}
            {% endif %}

            <div class="status-bar-overflowed" data-status-percent="{{ project_status|default(0) }}"></div>
        </div>
    </div>

    <div class="mosaic-project-stats">
        {% if project.status != '1' %}
            <div class="funded-ratio mos-bottom"><span class="percents">{{ project_status|default(0) }}&#37;</span><br> {{ 'funded'|trans() }}</div>
            <div class="credited-amount mos-bottom"><span class="dollars">{{ project.amountCount }}&euro;</span><br> {{ 'raised'|trans() }}</div>
            <div class="time-left mos-bottom"><span class="days">{{ project.endingAt|time_remaining }}</span><br> {{ 'remaining'|trans() }}</div>
        {% else %}
            <div class="stats-followed mos-bottom">
                <div class="center">
                    {% if is_granted('ROLE_USER') %}
                        {% for like in app.user.likes if like.project.id == project.id %}
                            <img class="heartIt icon" rel="{{ project.id }}" src="{{ asset('static/img/icons/icon-heart-blue.png') }}" alt="alt-LBJ - likes" />
                        {% else %}
                            <img class="heartIt icon" rel="{{ project.id }}" src="{{ asset('static/img/icons/icon-heart.png') }}" alt="alt-LBJ - likes" />
                        {% endfor %}
                    {% else %}
                        <img class="heartIt icon" rel="{{ project.id }}" src="{{ asset('static/img/icons/icon-heart.png') }}" alt="alt-LBJ - likes" />
                    {% endif %}

                    <div class="likes-label">
                        <div class="nb-likes">{{ project.likesCount }}</div>
                        <div class="likes">{% transchoice project.likesCount %}{0} like|{1} like|]1,Inf] likes{% endtranschoice %}</div>
                    </div>
                </div>
            </div>
            <div class="stats-percents mos-bottom">+{{ project_status|default(0) }}&#37;</div>
        {% endif %}
    </div>

</div>

