<div class="mosaic-sheet">

    <div class="img-container">
        {% if project.isFavorite %}
            <img class="favorite-icon" src="{{ asset('static/img/icons/icon-favorite.png') }}" alt="alt-LBJ - favorite icon" />
        {% endif %}

        {% if project.photo %}
            <img class="pres-thumbnail" src="{{ asset(project.photo)|apply_filter('750x500') }}" style="width:260px; height:174px">
        {% else %}
            <img class="pres-thumbnail" src="{{ asset('static/img/mosaic-test.jpg') }}" alt="alt-LBJ - project image" />
        {% endif %}

        <div class="project-label">
            {% if project.brand.logo %}
                <a href="{{ path('littlebigjoe_frontendbundle_brand_show', {'slug': project.brand.slug}) }}"><img class="mosaic-brand-logo" src="{{ asset(project.brand.logo) }}"></a>
            {% endif %}

            {% if project.status != '1' %}
                <img class="mosaic-project-type" src="{{ asset('static/img/icons/icon-mosaic-funded.png') }}" alt="alt-LBJ - project type" />
            {% else %}
                <img class="mosaic-project-type" src="{{ asset('static/img/icons/icon-mosaic-indev.png') }}" alt="alt-LBJ - project type" />
            {% endif %}
        </div>
    </div>

    <div class="mosaic-infos-container">
        <h3><a href="{{ path('littlebigjoe_frontendbundle_project_show', {'slug': project.slug}) }}">{{ project.name }}</a></h3>

        {% set canCreateProduct = false %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% set canCreateProduct = true %}
        {% elseif is_granted('ROLE_BRAND_ADMIN') %}
            {% for brand in app.user.brands %}
                {% if brand.id == project.brand.id %}
                    {% set canCreateProduct = true %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if canCreateProduct and project.status == '1' and project.product and project.product.validatedAt is null %}
            <div class="clearfix"></div>
            <p><a href="{{ path('littlebigjoe_frontendbundle_project_create_product', {'slug': project.slug}) }}" class="btn btn-primary">{{ 'Validate'|trans() }}</a></p>
            <div class="clearfix"></div>
        {% endif %}

        <p class="project-description">{{ project.pitch }}</p>
        <div class="author">
            <a href="{{ path('littlebigjoe_frontendbundle_user_show', {'id': project.user.id}) }}">
                <img class="icon" src="{{ asset('static/img/icons/icon-author.png') }}" alt="alt-LBJ - author" /> {{ project.user }}</a>
        </div>
    </div>

    <div class="mosaic-status-bar">
        <div class="status-bar-container">
            <img src="{{ asset('static/img/bg/progress-bar.jpg') }}" alt="alt-LBJ - status bar" />

            {% if project.status == '1' %}
                {% if project.likesCount == 0 %}
                    {% set project_status = 0 %}
                {% elseif ((project.likesCount/project.likesRequired) * 100) > 100 %}
                    {% set project_status = 100 %}
                {% else %}
                    {% set project_status = ((project.likesCount/project.likesRequired) * 100)|number_format(1, '.', ',') %}
                {% endif %}
            {% else %}
                {% if project.amountCount == 0 %}
                    {% set project_status = 0 %}
                {% elseif ((project.amountCount/project.amountRequired) * 100) > 100 %}
                    {% set project_status = 100 %}
                {% else %}
                    {% set project_status = ((project.amountCount/project.amountRequired) * 100)|number_format(1, '.', ',') %}
                {% endif %}
            {% endif %}

            <div class="status-bar-overflowed" data-status-percent="{{ project_status|default(0) }}"></div>
        </div>
    </div>

    <div class="mosaic-project-stats">
        {% if project.status != '1' %}
            <div class="funded-ratio mos-bottom"><span class="percents">{{ project_status|default(0) }}&#37;</span><br> {{ 'funded'|trans() }}</div>
            <div class="credited-amount mos-bottom"><span class="dollars">{{ project.amountCount }}&euro;</span><br> {{ 'raised'|trans() }}</div>
            <div class="time-left mos-bottom"><span class="days">{{ project.endingAt|time_remaining }}</span><br> {{ 'remaining'|trans() }}</div>
        {% else %}
            <div class="stats-followed mos-bottom">
                <div class="center">
                    <img class="icon" src="{{ asset('static/img/icons/icon-heart.png') }}" alt="alt-LBJ - likes" />
                    <div class="likes-label">
                        <div class="nb-likes">{{ project.likesCount }}</div>
                        <div class="likes">{{ 'likes'|trans() }}</div>
                    </div>
                </div>
            </div>
            <div class="stats-percents mos-bottom">+{{ project_status|default(0) }}&#37;</div>
        {% endif %}
    </div>

</div>
