{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'Edit project contribution'|trans() }} #{{ entity.id }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-edit"></span> {{ 'Edit project contribution'|trans() }} <span
                    class="text-primary">#{{ entity.id }}</span></h1>
    </div>
    <p class="lead">{{ 'Please fill these fields, to edit the project contribution :'|trans() }}</p>

    {{ form(edit_form, {attr:{role:'form' }}) }}

    <div class="clearfix">&nbsp;</div>
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_contributions') }}">
            {{ 'Back to the list'|trans() }}
        </a>
    </p>

    <div class="clearfix">&nbsp;</div>
    <fieldset>
        <legend>{{ 'Delete this project contribution'|trans() }}</legend>
        <p>{{ 'By clicking on the button below, you\'ll delete the project contribution'|trans() }}</p>

        {{ form(delete_form, {attr:{role:'form' }}) }}
    </fieldset>
    <div class="clearfix">&nbsp;</div>
{% endblock %}