{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'Contributions list'|trans() }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-list"></span> {{ 'Contributions list'|trans() }}</h1>
    </div>
    <p class="lead">{{ 'Below you\'ll find contributions made on the website :'|trans() }}</p>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'ID'|trans(), 'pc.id') }}</th>
            <th>{{ 'Project'|trans() }}</th>
            <th>{{ 'Creator'|trans() }}</th>
            <th>{{ 'Reward'|trans() }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Mangopay success ?'|trans(), 'pc.mangopayIsSucceeded') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Mangopay completion ?'|trans(), 'pc.mangopayIsCompleted') }}</th>
            <th>{{ 'Actions'|trans() }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>
                    <a href="{{ path('littlebigjoe_backendbundle_contributions_show', { 'id': entity.id }) }}">#{{ entity.id }}</a>
                </td>
                <td>
                    <a href="{{ path('littlebigjoe_backendbundle_projects_show', { 'id': entity.project.id }) }}">{{ entity.project.name }}</a>
                </td>
                <td>
                    <a href="{{ path('littlebigjoe_backendbundle_users_show', { 'id': entity.user.id }) }}">{{ entity.user }}</a>
                </td>
                <td>{{ entity.reward }}</td>
                <td>
                    {% if entity.mangopayIsSucceeded %}
                        <span class="label label-success">{{ 'Succeeded'|trans() }}</span>
                    {% else %}
                        <span class="label label-default">{{ 'Not succeeded'|trans() }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if entity.mangopayIsCompleted %}
                        <span class="label label-success">{{ 'Completed'|trans() }}</span>
                    {% else %}
                        <span class="label label-default">{{ 'Not completed'|trans() }}</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary btn-xs"
                       href="{{ path('littlebigjoe_backendbundle_contributions_show', { 'id': entity.id }) }}">{{ 'Show'|trans() }}</a>
                    <a class="btn btn-default btn-xs"
                       href="{{ path('littlebigjoe_backendbundle_contributions_edit', { 'id': entity.id }) }}">{{ 'Edit'|trans() }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <p>
        <a class="btn btn-primary" href="{{ path('littlebigjoe_backendbundle_contributions_new') }}">
            {{ 'Create a new contribution'|trans() }}
        </a>
    </p>
{% endblock %}
