{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'backend.contribution'|trans() }} #{{ entity.id }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-search"></span> {{ 'backend.contribution'|trans() }} <span
                    class="text-primary">#{{ entity.id }}</span></h1>
    </div>
    <p class="lead">{{ 'backend.contribution_resume'|trans() }}</p>

		<div class="clearfix">&nbsp;</div>
		
		<ul class="nav nav-tabs" id="tabs">
		  <li class="active"><a href="#related">{{ 'backend.related_infos'|trans() }}</a></li>
		  <li><a href="#mangopay">{{ 'backend.mangopay_infos'|trans() }}</a></li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="related">
		    <div class="clearfix">&nbsp;</div>
		    <p>{{ 'backend.associated_project'|trans() }} : <a
		                href="{{ path('littlebigjoe_backendbundle_projects_show', { 'id': entity.project.id }) }}"><strong>{{ entity.project }}</strong></a>
		    </p>
		    <p>{{ 'backend.associated_user'|trans() }} : <a
		                href="{{ path('littlebigjoe_backendbundle_users_show', { 'id': entity.user.id }) }}"><strong>{{ entity.user }}</strong></a>
		    </p>
		    <p>{{ 'backend.associated_reward'|trans() }} : <strong>{{ entity.reward }}</strong></p>
			</div>
    
    	<div class="tab-pane" id="mangopay">
		    <div class="clearfix">&nbsp;</div>
		    <p>{{ 'backend.mangopay_contribution_id'|trans() }} : <strong>{{ entity.mangopayContributionId }}</strong></p>
		    <p>{{ 'backend.mangopay_amount'|trans() }} : <strong>{{ entity.mangopayAmount }}</strong></p>
		    <p>{{ 'backend.succeeded_payment'|trans() }} :
		        {% if entity.mangopayIsSucceeded %}
		            <span class="label label-success">{{ 'backend.yes'|trans() }}</span>
		        {% else %}
		            <span class="label label-default">{{ 'backend.no'|trans() }}</span>
		        {% endif %}
		    </p>
		    <p>{{ 'backend.completed_payment'|trans() }} :
		        {% if entity.mangopayIsCompleted %}
		            <span class="label label-success">{{ 'backend.yes'|trans() }}</span>
		        {% else %}
		            <span class="label label-default">{{ 'backend.no'|trans() }}</span>
		        {% endif %}
		    </p>
		    <p>{{ 'backend.mangopay_error'|trans() }} :
		        <strong>{% if entity.mangopayError %}{{ entity.mangopayError }}{% else %}{{ 'backend.na'|trans() }}{% endif %}</strong>
		    </p>
		    <p>{{ 'backend.mangopay_answer_code'|trans() }} :
		        <strong>{% if entity.mangopayAnswerCode %}{{ entity.mangopayAnswerCode }}{% else %}{{ 'backend.na'|trans() }}{% endif %}</strong>
		    </p>
		    <p>{{ 'backend.mangopay_user_created_at'|trans() }} : <strong>{{ entity.mangopayCreatedAt|date('d/m/y H:i:s') }}</strong>
		    </p>
		    <p>{{ 'backend.mangopay_user_updated_at'|trans() }} : <strong>{{ entity.mangopayUpdatedAt|date('d/m/y H:i:s') }}</strong>
		    </p>
    	</div>
    </div>
    	
    <div class="clearfix">&nbsp;</div>
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_contributions') }}">
            {{ 'backend.back_to_list'|trans() }}
        </a>
        <a class="btn btn-primary"
           href="{{ path('littlebigjoe_backendbundle_contributions_edit', { 'id': entity.id }) }}">
            {{ 'backend.edit'|trans() }}
        </a>
    </p>
{% endblock %}

{% block footer_javascripts %}
		{{ parent() }}
		<script type="text/javascript">
				$(document).ready(function(){
						$('#tabs a').click(function (e) {
						  e.preventDefault()
						  $(this).tab('show')
						});
				});
		</script>
{% endblock %}
