{% extends '::base.html.twig' %}

{% block meta_title %}
    {{ entity.name }} | {{ parent() }}
{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('static/js/modules/progress-bars.js') }}" ></script>
{% endblock %}

{% block body %}
    <section>
        <article class="wContent wMosaic">
            <div class="white-container">

                <div class="wContent-id-title">
                    <h1>{{ entity.name }}</h1>
                    <div class="social-links">
                        {% if entity.twitterUrl %}<a href="{{ entity.twitterUrl }}" target="_blank"><img class="icon" src="{{ asset('static/img/icons/icon-social-twitter.png') }}" alt="alt-LBJ - social" /></a>{% endif %}
                        {% if entity.facebookUrl %}<a href="{{ entity.facebookUrl }}" target="_blank"><img class="icon" src="{{ asset('static/img/icons/icon-social-facebook.png') }}" alt="alt-LBJ - social" /></a>{% endif %}
                        {#<a href="#"><img class="icon" src="static/img/icons/icon-social-pinterest.png" alt="alt-LBJ - social" /></a>#}
                        {% if entity.googleUrl %}<a href="{{ entity.googleUrl }}" target="_blank"><img class="icon" src="{{ asset('static/img/icons/icon-social-google.png') }}" alt="alt-LBJ - social" /></a>{% endif %}
                    </div>
                    {% if entity.websiteUrl %}<a class="brand-website" href="{{ entity.websiteUrl }}" target="_blank">{{ entity.websiteUrl }}</a>{% endif %}

                    {% set status = 'follow' %}
                    {% if is_granted('ROLE_USER') %}
                        {% for follower in entity.followers %}
                            {% if app.user.id == follower.id %}
                                {% set status = 'followed' %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% include "LittleBigJoeFrontendBundle:includes:utils/follow-button.html.twig" with {'status': status, 'type': 'brand'} %}
                </div>

                <div class="wContent-id-img">
                    {% if entity.logo %}
                        <img src="{{ asset(entity.logo) }}" width="243" height="243">
                    {% else %}
                        <img src="{{ asset('static/img/cc-logo-square.png') }}" alt="alt-LBJ - brand" />
                    {% endif %}
                </div>

                <div class="wContent-id-infos">
                    {{ entity.description|raw() }}
                </div>

            </div>
        </article>

        <div class="aside-part wMosaic">
            <div class="brand-briefly">
                <ul>
                    <li>
                        <img class="icon" src="{{ asset('static/img/icons/icon-brand-current.png') }}" alt="alt-LBJ - current icon" />
                        <div class="brief-label">{{ 'Current projects'|trans() }}</div>
                        <div class="brief-result">{{ currentProjectsCount|default('0') }}</div>
                    </li>

                    <li>
                        <img class="icon" src="{{ asset('static/img/icons/icon-brand-ended.png') }}" alt="alt-LBJ - current icon" />
                        <div class="brief-label">{{ 'Ended projects'|trans() }}</div>
                        <div class="brief-result">{{ endedProjectsCount|default('0') }}</div>
                    </li>

                    <li>
                        <img class="icon" src="{{ asset('static/img/icons/icon-brand-like.png') }}" alt="alt-LBJ - current icon" />
                        <div class="brief-label">{{ 'Total likes'|trans() }}</div>
                        <div class="brief-result">{{ likesCount|default('0') }}</div>
                    </li>

                    <li>
                        <img class="icon" src="{{ asset('static/img/icons/icon-brand-funds.png') }}" alt="alt-LBJ - current icon" />
                        <div class="brief-label">{{ 'Euros raised in total'|trans() }}</div>
                        <div class="brief-result">{{ amountCount|default('0') }} &euro;</div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section>

        {% if favoriteProjects %}
        <div class="aside-part wMosaic">
            {% for favoriteProject in favoriteProjects %}
                <div class="mosaic-container">
                    {% set mosaic_pres_vars = {'project': favoriteProject} %}
                    {% include "LittleBigJoeFrontendBundle:includes:pres/mosaic-pres.html.twig" with mosaic_pres_vars %}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if currentProjects %}
        <article class="wMosaic">
            <div class="article-header">
                <h2>{{ 'Current'|trans() }} <span class="grand-hotel">{{ 'projects'|trans() }}</span></h2>
                <a href="{{ path('littlebigjoe_frontendbundle_brand_current_projects', {'slug': entity.slug }) }}" class="btn mosaic-style">{{ 'See all current projects'|trans() }}</a>
            </div>

            {% for currentProject in currentProjects %}
                <div class="mosaic-container">
                    {% set mosaic_pres_vars = {'project': currentProject} %}
                    {% include "LittleBigJoeFrontendBundle:includes:pres/mosaic-pres.html.twig" with mosaic_pres_vars %}
                </div>
            {% endfor %}
        </article>
        {% endif %}

        {% if endedProjects %}
        <article class="wMosaic">
            <div class="article-header">
                <h2>{{ 'Ended'|trans() }} <span class="grand-hotel">{{ 'projects'|trans() }}</span></h2>
                <a href="{{ path('littlebigjoe_frontendbundle_brand_ended_projects', {'slug': entity.slug }) }}" class="btn mosaic-style">{{ 'See all ended projects'|trans() }}</a>
            </div>

            {% for endedProject in endedProjects %}
                <div class="mosaic-container">
                    {% set mosaic_pres_vars = {'project': endedProject} %}
                    {% include "LittleBigJoeFrontendBundle:includes:pres/mosaic-pres.html.twig" with mosaic_pres_vars %}
                </div>
            {% endfor %}
        </article>
        {% endif %}

    </section>
{% endblock %}

{% block footer_javascripts %}
	{{ parent() }}
	<script type="text/javascript">
	    var currentBrandId = {{ entity.id }};

	    $(document).ready(function () {                
	        // Follow request 
	        $('#followBrand').click(function (e) {
	           $.post("{{ path('littlebigjoe_frontendbundle_ajax_follow_brand') }}", { 'brandId' : currentBrandId })
	           .done(function(data) { 
	                   if (data.status == 'OK')
	                   {
	                           alert("{{ 'Thanks for follow this brand !'|trans() }}");   
	                           $('#followBrand').hide();
	                           $('#unfollowBrand').show();
	                   }
	                   else if (data.status == 'KO BRAND')
	                   {
	                           window.location = "{{ path('fos_user_security_login') }}";
	                   }
	                   else if (data.status == 'KO FOLLOW')
	                   {
	                           alert("{{ 'You already have followed this brand !'|trans() }}");     
	                   }
	                   else
	                   {
	                           alert("{{ 'An error has occured during nra follow. Please try again'|trans() }}"); 
	                   } 
	           });
	        });

            // Hover
            $(".followed-style").hover(function(){
                $(this).html("{{ 'Unfollow'|trans() }}");
            }, function(){
                $(this).html("{{ 'Followed'|trans() }}");
            });

	        // Unfollow request 
	        $('#unfollowBrand').click(function (e) {
	           $.post("{{ path('littlebigjoe_frontendbundle_ajax_unfollow_brand') }}", { 'brandId' : currentBrandId })
	           .done(function(data) { 
	                   if (data.status == 'OK')
	                   {
	                           alert("{{ 'Thanks for unfollow this brand !'|trans() }}");   
	                           $('#unfollowBrand').hide();
	                           $('#followBrand').show();
	                   }
	                   else if (data.status == 'KO BRAND')
	                   {
	                           window.location = "{{ path('fos_user_security_login') }}";
	                   }
	                   else if (data.status == 'KO UNFOLLOW')
	                   {
	                           alert("{{ 'You already have unfollowed this brand !'|trans() }}");     
	                   }
	                   else
	                   {
	                           alert("{{ 'An error has occured during brand unfollow. Please try again'|trans() }}"); 
	                   } 
	           });
	        });
	     });
	</script>
{% endblock %}
