{% extends "::admin.html.twig" %}

{% block body %}
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-home"></span> {{ 'backend.home'|trans() }}</h1>
    </div>
    <p class="lead">{{ 'backend.lbj_activity'|trans() }}</p>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'backend.pages'|trans() }} ({{ nbPages }})</h3>
                </div>
                <div class="panel-body">
                    <p><strong>{{ nbPagesVisible }}</strong> {{ 'backend.visible_pages'|trans() }}</p>

                    <p><strong>{{ nbPagesNotVisible }}</strong> {{ 'backend.invisible_pages'|trans() }}</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'backend.users'|trans() }} ({{ nbUsers }})</h3>
                </div>
                <div class="panel-body">
                    <p><strong>{{ nbUsers }}</strong> {{ 'backend.created_users'|trans() }}</p>
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'backend.projects'|trans() }} ({{ nbProjects }})</h3>
                </div>
                <div class="panel-body">
                    <p><strong>{{ nbNotDeletedProjects }}</strong> {{ 'backend.active_projects'|trans() }}</p>

                    <p><strong>{{ nbDeletedProjects }}</strong> {{ 'backend.deleted_projects'|trans() }}</p>

                    <p>
                        <strong>{{ nbEngagementProjects }}</strong> {{ 'backend.engagement_phase_projects'|trans() }}
                    </p>

                    <p><strong>{{ nbFundingProjects }}</strong> {{ 'backend.funding_phase_projects'|trans() }}
                    </p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'backend.categories'|trans() }} ({{ nbCategories }})</h3>
                </div>
                <div class="panel-body">
                    <p><strong>{{ nbCategoriesVisible }}</strong> {{ 'backend.visible_categories'|trans() }}</p>

                    <p><strong>{{ nbCategoriesNotVisible }}</strong> {{ 'backend.invisible_categories'|trans() }}</p>
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'backend.brands'|trans() }} ({{ nbBrands }})</h3>
                </div>
                <div class="panel-body">
                    <p><strong>{{ nbBrands }}</strong> {{ 'backend.created_brands'|trans() }}</p>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'backend.contributions'|trans() }} ({{ nbContributions }})</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <strong>{{ nbSucceededContributions }}</strong> {{ 'backend.successful_contributions'|trans() }}
                    </p>

                    <p>
                        <strong>{{ nbCompletedContributions }}</strong> {{ 'backend.completed_contributions'|trans() }}
                    </p>
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
    </div>
{% endblock %}
