{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'backend.category'|trans() }} {{ entity.name }} | {{ parent() }}
{% endblock %}

{% block body %}
<div class="page-header">
    <h1><span class="glyphicon glyphicon-search"></span> {{ 'backend.category'|trans() }} <span
                class="text-primary">{{ entity.name }}</span></h1>
</div>
<p class="lead">{{ 'backend.category_infos'|trans() }}</p>

<h3 class="media-heading">{{ entity.name }}</h4>
    {% if entity.isVisible %}
        <span class="label label-success">{{ 'backend.visible'|trans() }}</span>
    {% else %}
        <span class="label label-default">{{ 'backend.invisible'|trans() }}</span>
    {% endif %}

    <div class="clearfix">&nbsp;</div>

		<ul class="nav nav-tabs" id="tabs">
		  <li class="active"><a href="#meta">{{ 'backend.meta_infos'|trans() }}</a></li>
		  <li><a href="#activity">{{ 'backend.activity_infos'|trans() }}</a></li>
		</ul>
				
   	<div class="tab-content">
  		<div class="tab-pane active" id="meta">
		    <div class="clearfix">&nbsp;</div>
		    <p>{{ 'backend.meta_title'|trans() }} : {% if entity.metaTitle %}{{ entity.metaTitle }}{% else %}{{ 'backend.na'|trans() }}{% endif %}</p>
		    <p>
					{{ 'backend.meta_description'|trans() }} : {% if entity.metaDescription %}{{ entity.metaDescription }}{% else %}{{ 'backend.na'|trans() }}{% endif %}</li>
		    </p>		
			</div>
			
			<div class="tab-pane" id="activity">
		    <div class="clearfix">&nbsp;</div>
		    <p>{{ 'backend.related_projects'|trans() }} : <strong>{{ entity.projects|length }}</strong></p>
		  </div>
		</div>
    
    <div class="clearfix">&nbsp;</div>
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_categories') }}">
            {{ 'backend.back_to_list'|trans() }}
        </a>
        <a class="btn btn-primary" href="{{ path('littlebigjoe_backendbundle_categories_edit', { 'id': entity.id }) }}">
            {{ 'backend.edit'|trans() }}
        </a>
    </p>
{% endblock %}

{% block footer_javascripts %}
		{{ parent() }}
		<script type="text/javascript">
				$(document).ready(function(){
						$('#tabs a').click(function (e) {
						  e.preventDefault()
						  $(this).tab('show')
						});
				});
		</script>
{% endblock %}
