{% if form is defined %}{% form_theme form 'LittleBigJoeBackendBundle:Form:fields.html.twig' %}{% endif %}
{% if edit_form is defined %}{% form_theme edit_form 'LittleBigJoeBackendBundle:Form:fields.html.twig' %}{% endif %}
{% if delete_form is defined %}{% form_theme delete_form 'LittleBigJoeBackendBundle:Form:fields.html.twig' %}{% endif %}
{% if funding_form is defined %}{% form_theme funding_form 'LittleBigJoeBackendBundle:Form:fields.html.twig' %}{% endif %}
{% if entry_form is defined %}{% form_theme entry_form 'LittleBigJoeBackendBundle:Form:fields.html.twig' %}{% endif %}
{% if entry_comment_form is defined %}{% form_theme entry_comment_form 'LittleBigJoeBackendBundle:Form:fields.html.twig' %}{% endif %}
{% if help_project_form is defined %}{% form_theme help_project_form 'LittleBigJoeBackendBundle:Form:fields.html.twig' %}{% endif %}
{% if report_form is defined %}{% form_theme report_form 'LittleBigJoeBackendBundle:Form:fields.html.twig' %}{% endif %}

<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>{% block meta_title %}Little Big Joe{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Little Big Joe{% endblock %}"/>
    <meta name="keywords" content="{% block meta_keywords %}little, big, joe, crowdfunding{% endblock %}"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" href="" />

    <link href="{{ asset('static/less/main.less') }}" type="text/less" rel="stylesheet"/>
    {% block header_css %}{% endblock %}

    {% block header_javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
        <script type="text/javascript">
            less = {}; less.env = 'development';
        </script>
        <script type="text/javascript" src="{{ asset('static/js/lib/less-1.5.0.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('static/js/lib/jquery.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('static/js/lib/bootstrap.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('static/js/lib/sparklines.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('static/js/modules/quick-start.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('static/js/main.js') }}" ></script>
    {% endblock %}
</head>
<body>
    <!--[if lt IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <header>
        {% block header %}
            {% set header_vars = {'logged': false} %}
            {% include "LittleBigJoeFrontendBundle:includes:header.html.twig" %}
        {% endblock %}
    </header>

    <div class="container page">
        {% block body %}{% endblock %}
        {% block fos_user_content %}{% endblock %}
    </div>
    {% block modal %}{% endblock %}
    <img id="fixed-mascot" src="{{ asset('static/img/bg/fixed-mascot.png') }}" alt="alt-LBJ - mascot" />

    <footer>
        {% block footer %}
            {% include "LittleBigJoeFrontendBundle:includes:footer.html.twig" %}
        {% endblock %}

        {% block footer_javascripts %}
            {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}

            <script type="text/javascript" >
                function goLogIn(){
                    window.location = "{{ path('_security_check') }}";
                }

                function onFbInit() {
                    if (typeof(FB) != 'undefined' && FB != null ) {
                        FB.Event.subscribe('auth.statusChange', function(response) {
                            if (response.session || response.authResponse) {
                                setTimeout(goLogIn, 50);
                            } else {
                                window.location = "{{ path('_security_logout') }}";
                            }
                        });
                    }
                }
            </script>
            <script type="text/javascript">
                $(document).ready(function(){
                    // Used to retrieve user notifications
                    var notificationsCheck = null;

                    function getNotifications()
                    {
                        if (notificationsCheck != null)
                            clearTimeout(notificationsCheck);

                        $.post("{{ path('littlebigjoe_frontendbundle_ajax_get_notifications') }}")
                            .done(function(data) {
                                if (data.status == "OK" && data.nb_notifs > 0)
                                {
                                    $('#unread_notifications').text(data.nb_notifs).show();
                                }
                                else
                                {
                                    $('#unread_notifications').text(0).show();
                                }
                                callGetNotifications();
                            });
                    }

                    function callGetNotifications()
                    {
                        notificationsCheck = setTimeout(function(){
                            getNotifications();
                        }, 60000);
                    }

                    getNotifications();
                });
            </script>
	    <script>
		UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Z5FiLxSFXcPdeP0zXk8Zog.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();
		UserVoice.push(['set', {
		    accent_color: '#448dd6',
		    trigger_color: 'white',
		    trigger_background_color: 'rgba(46, 49, 51, 0.6)'
		}]);
		UserVoice.push(['identify', {
		    {% if app.user %}
		    email:      '{{ app.user.email }}', // User’s email address
		    name:       '{{ app.user.firstname }} {{ app.user.lastname }}', // User’s real name
		    id:         {{ app.user.id }} // Optional: Unique id of the user (if set, this should not change)
		    {% endif %}
		}]);

		UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);
		UserVoice.push(['autoprompt', {}]);
	    </script>
        {% endblock %}
    </footer>
</body>
</html>
