{% if not is_beta_user %}
    <h1>{{ 'access_denied.title'|trans() }}</h1>
    <p>{{ 'access_denied.message1'|trans|raw }}</p>
    <p>Joe</p>
    <div class="clearfix">&nbsp;</div>
    <section class="col-md-5">
        <form action="{{ path('littlebigjoe_frontendbundle_registration_beta_confirmed') }}" {{ form_enctype(form) }} method="POST" class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">{{ form_label(form.betaCodeValue) }}</h3>
            </div>
            <div class="panel-body">
                {{ form_widget(form.betaCodeValue, { 'attr': {'style': 'width: 74%; height: 46px'} } ) }}
                {{ form_widget(form.submitCode, { 'attr': {'style': 'width: 24%', 'class': 'pull-right btn validate-style btn-xs'} }) }}
            </div>
            {{ form_errors(form.betaCodeValue) }}
            {{ form_rest(form) }}
        </form>
    </section>
{% else %}
    <div class="default-empty">
        <h1>{{ 'Congratulations %username%, your account is now activated.'|trans({'%username%': user.username}) }}</h1>
        <p>{{ 'You can fully enjoy Little Big Joe. You should start by going back to the'|trans() }} <a href="{{ path('littlebigjoe_frontendbundle_home') }}">{{ 'homepage'|trans() }}</a>.</p>
    </div>
{% endif %}