{% extends 'form_div_layout.html.twig' %}

{% block button_widget -%}
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <input type="submit" class="error403submit" {{ block('button_attributes') }} value="{{ label|trans({}, translation_domain) }}" />
{%- endblock button_widget %}

{% block submit_widget -%}
    {% set type = type|default('submit') %}
    {{- block('button_widget') -}}
{%- endblock submit_widget %}

{% block form_widget_simple -%}
    {% set type = type|default('text') -%}
    <input type="{{ type }}" class="error403code form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li style="color:red;">{{ error.message|trans({}, translation_domain) }}</li>
            {%- endfor -%}
        </ul>
    {%- endif %}
{%- endblock form_errors %}

{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {%- endif %}
{%- endblock form_label %}