{% form_theme form 'LittleBigJoeFrontendBundle:Error403:error403_customization.html.twig' %}

{% block content %}
    {% if not is_beta_user %}
        <h1>{{ 'access_denied.title'|trans() }}</h1>
        <p>{{ 'access_denied.message1'|trans|raw }}</p>
        <p>Joe</p>
        <div class="clearfix">&nbsp;</div>

        <form action="{{ path('littlebigjoe_frontendbundle_registration_beta_confirmed') }}" {{ form_enctype(form) }} method="POST">
            {{ form_errors(form) }}
           <p>
               {{ 'Enter your beta code and get full access to LittleBigJoe: '|trans() }}
               {{ form_widget(form.betaCodeValue) }}
               {{ form_widget(form.submitCode) }}
           </p>
           {{ form_errors(form.betaCodeValue) }}
           {{ form_rest(form) }}
        </form>
    {% else %}
        <div class="default-empty">
            <h1>{{ 'Congratulations %username%, your account is now activated.'|trans({'%username%': user.username}) }}</h1>
            <p>{{ 'You can fully enjoy Little Big Joe. You should start by going back to the'|trans() }} <a href="{{ path('littlebigjoe_frontendbundle_home') }}">{{ 'homepage'|trans() }}</a>.</p>
            </div>
    {% endif %}
{% endblock %}