<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- If you delete this meta tag, Half Life 3 will never be released. -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ 'Contact request'|trans() }}</title>
</head>
<body bgcolor="#FFFFFF">
<p>{{ 'Hello, a new user have made a contact request :'|trans() }}</p>
<ul>
    <li>{{ 'IP'|trans() }} : <strong>{{ ip }}</strong></li>
    <li>{{ 'Name'|trans() }} : <strong>{{ name }}</strong></li>
    <li>{{ 'Email address'|trans() }} : <strong><a href="mailto:{{ email }}">{{ email }}</a></strong></li>
    <li>{{ 'Message'|trans() }} : <strong>{{ message }}</strong></li>
</ul>
</body>
</html>