{% extends "::base.html.twig" %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datepicker/js/locales/bootstrap-datepicker.' ~ app.request.locale ~ '.js') }}" charset="UTF-8"></script>
{% endblock %}

{% block header_css %}
    {{ parent() }}
    <link href="{{ asset('js/datepicker/less/datepicker.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.datepicker').datepicker({
                language: '{{ app.request.locale }}'
            });
            $('.modal-presentation').modal();
        });
    </script>
{% endblock %}

{% block modal %}
    <div class="modal-presentation modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Private beta</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center"><img src="{{ asset('img/logo-txt.png') }}" height="200" /></p>
                    <p>&nbsp;</p>
                    <div class="pull-left"><img src="{{ asset('img/icon1.jpg') }}" width="100" /></div>
                    <h2>Imagine</h2>
                    <p>Bring your dream product to life by creating a project on LittleBigJoe and associating it to your favorite brand.</p>
                    <p>Describe your idea (product, service, etc) as you imagine it, choose the brand you think is the best to bring your project to life and tell us why!</p>
                    <p>Add a compelling photo to represent your idea. Make us dream!</p>
                    <p>&nbsp;</p>
                    <div class="pull-right"><img src="{{ asset('img/icon2.jpg') }}" width="100" /></div>
                    <h2>Discover</h2>
                    <p>Explore the many projects created by the LittleBigJoe community. Discover amazing ideas involving your favorite brands and pick those you would love to see come to life!</p>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                    <div class="pull-left"><img src="{{ asset('img/icon3.jpg') }}" width="100" /></div>
                    <h2>Share</h2>
                    <p>Make some noise to promote your favorite project and gather as many votes as you can. Share it with your friends, your family & the LittleBigJoe community. Your project needs to be seen!</p>
                    <p>The more buzz you create, the more excited the brand will be to work on it and please you!</p>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                    <div class="pull-right"><img src="{{ asset('img/icon4.jpg') }}" width="100" /></div>
                    <h2>Make it happen</h2>
                    <p>Congrats! Thanks to the power of the community, the brand is now on board with your project and is willing to make it happen.</p>
                    <p>With your collaboration, the brand will work on a design & a production plan. Once it’s good to go, the final crowdfunding phase can start.</p>
                    <p>Keep up with the buzz and help gather the funding to make your dream come true!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}