{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-signin-custom">

    <h1>{{ 'Register'|trans() }}</h1>

    {{ form_errors(form) }}
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>

    <div class="row">
        <div class="col-sm-6">
            {{ facebook_login_button({'autologoutlink': false, 'size':'large', 'label': 'Login via Facebook'|trans() }) }}
        </div>
        <div class="col-sm-6">
            <a style="font-size: 12px;padding: 5px 0px 5px 38px;" href="{{ path('hwi_oauth_service_redirect', {service: 'twitter'}) }}" class="btn btn-block btn-social btn-twitter">
                <i class="fa fa-twitter" style="line-height: 28px;"></i>&nbsp;{{ 'Login via Twitter'|trans() }}
            </a>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.lastname) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.email) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.birthday) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.plainPassword) }}
        </div>
    </div>
    <div class="checkbox">
        <label>
            {{ form_widget(form.cgv) }}
            {{ 'I accept the applicable <a class="link" href="%url%">Terms of Use</a>'|trans({'%url%': path('littlebigjoe_frontendbundle_page_show', {'slug':'cgv'})})|raw }}
        </label>
    </div>
    <div>
        <button class="btn validate-style">{{ 'Register'|trans }}</button>
    </div>
    {{ form_rest(form) }}
</form>