{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'backend.edit_project_product'|trans() }} {{ entity }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-edit"></span> {{ 'backend.edit_project_product'|trans() }} <span
                    class="text-primary">{{ entity }}</span></h1>
    </div>
    <p class="lead">{{ 'backend.fill_fields'|trans() }}</p>

    {% do edit_form.images.setRendered %}
    {% do edit_form.videos.setRendered %}

    {{ form_start(edit_form, {attr:{role:'form' }}) }}

        <h4>{{ 'backend.images'|trans() }}</h4>
        <ul class="images" data-prototype="{{ form_widget(edit_form.images.vars.prototype)|e }}">
            {% for image in edit_form.images %}
                <li>{{ form_widget(image) }}</li>
            {% endfor %}
        </ul>

        <h4>{{ 'backend.videos'|trans() }}</h4>
        <ul class="videos" data-prototype="{{ form_widget(edit_form.videos.vars.prototype)|e }}">
            {% for video in edit_form.videos %}
                <li>{{ form_widget(video) }}</li>
            {% endfor %}
        </ul>

        {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

    <div class="clearfix">&nbsp;</div>
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_project_products') }}">
            {{ 'backend.back_to_list'|trans() }}
        </a>
    </p>

    <div class="clearfix">&nbsp;</div>
    <fieldset>
        <legend>{{ 'backend.delete_project_product'|trans() }}</legend>
        <p>{{ 'backend.delete_confirmation_project_product'|trans() }}</p>

        {{ form(delete_form, {attr:{role:'form' }}) }}
    </fieldset>
    <div class="clearfix">&nbsp;</div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var $collectionHolder;

        var $addImageLink = $('<a href="#" class="add_image btn btn-xs btn-info">Add image</a>');
        var $newLinkLi = $('<li></li>').append($addImageLink);
        var $addVideoLink = $('<a href="#" class="add_video btn btn-xs btn-info">Add video</a>');
        var $newLinkLiVideo = $('<li></li>').append($addVideoLink);

        function addImageForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
        function addVideoForm($collectionHolder, $newLinkLiVideo) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLiVideo.before($newFormLi);
        }
        function addImageFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#" class="btn btn-xs btn-danger">Delete this image</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $tagFormLi.remove();
            });
        }
        function addVideoFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#" class="btn btn-xs btn-danger">Delete this video</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $tagFormLi.remove();
            });
        }

        jQuery(document).ready(function() {
            $collectionHolder = $('ul.images');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $collectionHolderVideo = $('ul.videos');
            $collectionHolderVideo.append($newLinkLiVideo);
            $collectionHolderVideo.data('index', $collectionHolderVideo.find(':input').length);

            $addImageLink.on('click', function(e) {
                e.preventDefault();
                addVideoForm($collectionHolder, $newLinkLi);
            });
            $collectionHolder.find('li').each(function() {
                addImageFormDeleteLink($(this));
            });
            $addVideoLink.on('click', function(e) {
                e.preventDefault();
                addVideoForm($collectionHolderVideo, $newLinkLiVideo);
            });
            $collectionHolderVideo.find('li').each(function() {
                addVideoFormDeleteLink($(this));
            });
        });
    </script>
{% endblock %}