{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-signin">
    <div class="default-empty">
        <h1>{{ 'Change password'|trans() }}</h1>

        {{ form_widget(form) }}

        <div>
            <button class="btn validate-style">{{ 'Change password'|trans }}</button>
        </div>
    </div>
</form>
