{% extends '::base.html.twig' %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('static/js/modules/progress-bars.js') }}" ></script>
{% endblock %}

{% block body %}
    <section>

    <div class="aside-part wMosaic">
        {% set side_menu_vars = {'brands': true, 'categories': true} %}
        {% include "LittleBigJoeFrontendBundle:includes:aside/side-menu.html.twig" with side_menu_vars %}
    </div>

    {% if popularProjects %}
        <article class="top-content">
            <div class="white-container">
                <div class="article-header">
                    <h2><img class="icon" src="{{ asset('static/img/icons/icon-star-empty.png') }}" alt="alt-LBJ - pop icon" /> <span class="grand-hotel">{{ 'Popular projects'|trans() }}</span></h2>
                    <a href="{{ path('littlebigjoe_frontendbundle_project') }}" class="btn classic-style">{{ 'See all projects'|trans() }}</a>
                </div>

                <div class="top-main-project">
                    <div class="top-thumbnail-cont">
                        {% if popularProjects.0.photo %}
                            <img src="{{ asset(popularProjects.0.photo)|apply_filter('722x445') }}" width="534" height="329">
                        {% else %}
                            <img class="top-thumbnail" src="http://placehold.it/722x445" alt="alt-LBJ" />
                        {% endif %}
                    </div>

                    <div class="top-infos">
                        <h3><a href="{{ path('littlebigjoe_frontendbundle_project_show', {'slug': popularProjects.0.slug}) }}">{{ popularProjects.0.name }}</a></h3>

                        <a href="{{ path('littlebigjoe_frontendbundle_user_show', {'id': popularProjects.0.user.id}) }}" class="author">{{ 'By'|trans() }} {{ popularProjects.0.user }}</a>

                        <p>{{ popularProjects.0.pitch }}</p>

                        <div class="status-bar-container">
                            <img src="{{ asset('static/img/bg/progress-bar.jpg') }}" alt="alt-LBJ - status bar" />
                            {% if popularProjects.0.status == '1' %}
                                {% if popularProjects.0.likesCount == 0 %}
                                    {% set project_status = 0 %}
                                {% elseif ((popularProjects.0.likesCount/popularProjects.0.likesRequired) * 100) > 100 %}
                                    {% set project_status = 100 %}
                                {% else %}
                                    {% set project_status = ((popularProjects.0.likesCount/popularProjects.0.likesRequired) * 100)|number_format(1, '.', ',') %}
                                {% endif %}
                            {% else %}
                                {% if popularProjects.0.amountCount == 0 %}
                                    {% set project_status = 0 %}
                                {% elseif ((popularProjects.0.amountCount/popularProjects.0.amountRequired) * 100) > 100 %}
                                    {% set project_status = 100 %}
                                {% else %}
                                    {% set project_status = ((popularProjects.0.amountCount/popularProjects.0.amountRequired) * 100)|number_format(1, '.', ',') %}
                                {% endif %}
                            {% endif %}

                            <div class="status-bar-overflowed" data-status-percent="{{ project_status|default(0) }}"></div>
                        </div>

                    </div>
                </div>

                {% for popularProject in popularProjects %}
                    {% if loop.index >= 2 and loop.index < 4 %}
                        <div class="top-secondary-project">
                            <a href="{{ path('littlebigjoe_frontendbundle_project_show', {'slug': popularProject.slug}) }}">
                            {% if popularProject.photo %}
                                <img class="top-thumbnail" src="{{ asset(popularProject.photo) }}|apply_filter('346x215')" width="346" height="215" alt="alt-LBJ" />
                            {% else %}
                                <img class="top-thumbnail" src="http://placehold.it/346x215" alt="alt-LBJ" />
                            {% endif %}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="launch-btn"><a href="{{ path('littlebigjoe_frontendbundle_project_create_project') }}" class="btn validate-style">{{ 'Launch my project'|trans() }}</a></div>
            </div>
        </article>
    {% endif %}

    {% if latestProjects %}
        <article class="wMosaic">
            <div class="article-header">
                <h2><img class="icon" src="{{ asset('static/img/icons/icon-projects.png') }}" alt="alt-LBJ - projects icon" /> {{ 'Latest'|trans() }} <span class="grand-hotel">{{ 'projects'|trans() }}</span></h2>
                <a href="{{ path('littlebigjoe_frontendbundle_project_latest_projects') }}" class="btn mosaic-style">{{ 'See all projects'|trans() }}</a>
            </div>

            {% for latestProject in latestProjects %}
                <div class="mosaic-container">
                    {% set mosaic_pres_vars = {'project': latestProject} %}
                    {% include "LittleBigJoeFrontendBundle:includes:pres/mosaic-pres.html.twig" with mosaic_pres_vars %}
                </div>
            {% endfor %}
        </article>
    {% endif %}

    {% if fundingProjects %}
        <article class="wMosaic">
            <div class="article-header">
                <h2><img class="icon" src="{{ asset('static/img/icons/icon-coins.png') }}" alt="alt-LBJ - funds icon" /> {{ 'Projects'|trans() }} <span class="grand-hotel">{{ 'to be funded'|trans() }}</span></h2>
                <a href="{{ path('littlebigjoe_frontendbundle_project_latest_projects') }}" class="btn mosaic-style">{{ 'See all projects'|trans() }}</a>
            </div>

            {% for fundingProject in fundingProjects %}
                <div class="mosaic-container">
                    {% set mosaic_pres_vars = {'project': fundingProject} %}
                    {% include "LittleBigJoeFrontendBundle:includes:pres/mosaic-pres.html.twig" with mosaic_pres_vars %}
                </div>
            {% endfor %}
        </article>
    {% endif %}

    {% if latestProjectContributions %}
        <article class="fPage">
            <div class="white-container">
                <div class="article-header">
                    <h2><img class="icon" src="{{ asset('static/img/icons/icon-coins.png') }}" alt="alt-LBJ - funds icon" /> {{ 'Latest'|trans() }} <span class="grand-hotel">{{ 'contributions'|trans() }}</span></h2>
                    <a href="#" class="btn classic-style">{{ 'See all contributions'|trans() }}</a>
                </div>

                {% for latestProjectContribution in latestProjectContributions %}
                    <div class="short-pres">
                        {% set short_pres_vars = {'type': 'project', 'item': latestProjectContribution} %}
                        {% include "LittleBigJoeFrontendBundle:includes:pres/short-pres.html.twig" with short_pres_vars %}
                    </div>
                {% endfor %}
            </div>
        </article>
    {% endif %}

    {% if latestBrands %}
        <article class="fPage">
            <div class="white-container">
                <div class="article-header">
                    <h2><img class="icon" src="{{ asset('static/img/icons/icon-brands.png') }}" alt="alt-LBJ - brands icon" /> {{ 'Latest'|trans() }} <span class="grand-hotel">{{ 'brands quoted'|trans() }}</span></h2>
                    <a href="{{ path('littlebigjoe_frontendbundle_brand') }}" class="btn classic-style">{{ 'See all brands'|trans() }}</a>
                </div>

                {% for latestBrand in latestBrands %}
                    <div class="short-pres">
                        {% set short_pres_vars = {'type': 'brand', 'item': latestBrand} %}
                        {% include "LittleBigJoeFrontendBundle:includes:pres/short-pres.html.twig" with short_pres_vars %}
                    </div>
                {% endfor %}
            </div>
        </article>
    {% endif %}
{% endblock %}