{% extends '::base.html.twig' %}

{% block title %}
    {{ 'Edit project'|trans() }} {{ entity }} | {{ parent() }}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datepicker/js/locales/bootstrap-datepicker.' ~ app.request.locale ~ '.js') }}" charset="UTF-8"></script>
{% endblock %}

{% block header_css %}
    {{ parent() }}
    <link href="{{ asset('js/datepicker/less/datepicker.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <h3>{{ 'Edit project'|trans() }} {{ entity }}</h3>

    {{ form(form) }}

    {{ form(deleteForm) }}
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.datepicker').datepicker({
                language: '{{ app.request.locale }}'
            });
        });
    </script>
{% endblock %}