{% extends '::base.html.twig' %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('static/js/modules/progress-bars.js') }}" ></script>
{% endblock %}

{% block body %}
    <section>

    <div class="aside-part wMosaic">
        {% set side_menu_vars = {'brands': true, 'kinds': true, 'categories': true} %}
        {% include "LittleBigJoeFrontendBundle:includes:aside/side-menu.html.twig" with side_menu_vars %}
    </div>

    {% if favoriteProjects %}
        <article class="wMosaic">
            <div class="article-header">
                <h2><img class="icon" src="{{ asset('static/img/icons/icon-team-likes.png') }}" alt="alt-LBJ - team likes icon" /> <span class="grand-hotel">{{ 'Favorites'|trans() }}</span> {{ 'projects'|trans() }}</h2>
                <a href="{{ path('littlebigjoe_frontendbundle_project_favorite_projects') }}" class="btn mosaic-style">{{ 'See all projects'|trans() }}</a>
            </div>

            {% for favoriteProject in favoriteProjects %}
                <div class="mosaic-container">
                    {% set mosaic_pres_vars = {'project': favoriteProject} %}
                    {% include "LittleBigJoeFrontendBundle:includes:pres/mosaic-pres.html.twig" with mosaic_pres_vars %}
                </div>
            {% endfor %}
        </article>
    {% endif %}

    {% if popularProjects %}
        <article class="wMosaic">
            <div class="article-header">
                <h2><img class="icon" src="{{ asset('static/img/icons/icon-star-empty.png') }}" alt="alt-LBJ - pop icon" /> <span class="grand-hotel">{{ 'Popular'|trans() }}</span> {{ 'this week'|trans() }}</h2>
                <a href="{{ path('littlebigjoe_frontendbundle_project_popular_week_projects') }}" class="btn mosaic-style">{{ 'See all projects'|trans() }}</a>
            </div>

            {% for popularProject in popularProjects %}
                <div class="mosaic-container">
                    {% set mosaic_pres_vars = {'project': popularProject} %}
                    {% include "LittleBigJoeFrontendBundle:includes:pres/mosaic-pres.html.twig" with mosaic_pres_vars %}
                </div>
            {% endfor %}
        </article>
    {% endif %}

    {% if recentlyUpdatedProjects %}
        <article class="wMosaic">
            <div class="article-header">
                <h2><img class="icon" src="{{ asset('static/img/icons/icon-calendar.png') }}" alt="alt-LBJ - calendar icon" /> <span class="grand-hotel">{{ 'Recently updated'|trans() }}</span> {{ 'projects'|trans() }}</h2>
                <a href="{{ path('littlebigjoe_frontendbundle_project_popular_week_projects') }}" class="btn mosaic-style">{{ 'See all projects'|trans() }}</a>
            </div>

            {% for recentlyUpdatedProject in recentlyUpdatedProjects %}
                <div class="mosaic-container">
                    {% set mosaic_pres_vars = {'project': recentlyUpdatedProject} %}
                    {% include "LittleBigJoeFrontendBundle:includes:pres/mosaic-pres.html.twig" with mosaic_pres_vars %}
                </div>
            {% endfor %}
        </article>
    {% endif %}
{% endblock %}