{% extends '::base.html.twig' %}

{% block body %}
<section>
    <article>
        <div class="padding10 white-container">
            <div class="article-header">
                <h2><span class="grand-hotel">{{ 'Advice for a successful project!'|trans() }}</span></h2>
            </div>
            <div class="nodata">
                <p>{{ 'Calling all dreamers and creatives.'|trans() }}<p>
                <p class="padding10">{{ 'LittleBigJoe is here to guide you in the creation of your project : The <a href="%howdoesitworkroute%">How it works</a> page explains the 3 easy steps to launch a project. The
                FAQ is there to answer most of your questions and you can use the Best Practices to find hints, tips and examples of how to best create
                and present your project!'|trans({'%howdoesitworkroute%':howDoesItWorkRoute})|raw }}</p>
                <p>{{ 'Here are 3 key pieces of advice before you start!'|trans() }}</p>

                <h3 class="padding10">{{ '1. Inspire people!'|trans() }}</h3>
                <p>{{ 'A successful project should inspire. Make us dream! Use visually appealing images at a high resolution and quality videos. Be creative
                whilst making sure you have good presentation and text.'|trans() }}</p>
                <p>{{ 'Share your enthusiasm through text and images!'|trans() }}</p>
                <h3 class="padding10">{{ '2. Stand out'|trans() }}</h3>
                <p>{{ 'Your choice of brand is not random! We want to hear more! Tell us a bit about why you love the brand and why you chose it for your
                project.'|trans() }}</p>
                <p>{{ 'Beyond convincing the community about your idea, this will help convince the brand that your project fits well with their values & style.'|trans() }}</p>
                <h3 class="padding10">{{ '3. It’s all about getting involved'|trans() }}</h3>
                <p>{{ 'This is YOUR project! Own it! It will need enough votes and funding in order to go forward so make your project take centre stage, tell your
                friends how great it is, find networks and communities of awesome, passionate people on blogs and social networks and get them on
                board.'|trans() }}</p>
                <p class="padding10">{{ 'Your project needs YOU!'|trans() }}</p>
                <p class="padding10">{{ 'Have a question? Contact us at'|trans() }} <a href="mailto:contact@littlebijoe.com">contact@littlebijoe.com</a></p>
            </div>
            <div class="article-footer">
                <div class="craue_formflow_buttons craue_formflow_button_count_2 pull-left">
                    <a class="btn validate-style next" href="{{ path('littlebigjoe_frontendbundle_project_create_project') }}">
                        {{ 'Next'|trans() }}
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>
{% endblock %}