	<div style="float:left;width:65%;margin-right:30px;">
    <h1>{{ 'Project'|trans() }} {{ entity }}</h1>
    {% if entity.status == '1' %}
        <span class="label label-primary">{{ 'Engagement phase'|trans() }}</span>
    {% else %}
        <span class="label label-success">{{ 'Funding phase'|trans() }}</span>
    {% endif %}
    <h2>
		    {{ entity.location }} - 
		    <a href="#">{{ entity.category }}</a>
		</h2>  
    <span class="label label-info">{{ 'Project default language :'|trans() }} {{ entity.language }}</span>
		
		<div class="clearfix">&nbsp;</div>

		<ul class="nav nav-tabs" id="projectTab">
	      <li class="active"><a data-toggle="tab" href="#project">{{ 'Project'|trans() }}</a></li>
	      <li><a data-toggle="tab" href="#news">{{ 'News'|trans() }}</a></li>
	      <li><a data-toggle="tab" href="#participants">{{ 'Participants'|trans() }}</a></li>
      	<li><a data-toggle="tab" href="#comments">{{ 'Comments'|trans() }}</a></li>
    </ul>

		<div id="projectTabContent" class="tab-content">
				<div id="project" class="tab-pane in active">
						<div class="clearfix">&nbsp;</div>
          	<div class="col-sm-6 col-md-3 pull-left">
		            <a href="#" class="thumbnail text-center">
		                {% if photo %}
		                    <img src="{{ asset(photo) }}">
		                {% else %}
		                    <strong>{{ 'N/A'|trans() }}</strong>
		                {% endif %}
		            </a>
		        </div>
		        <p class="lead">{{ entity.pitch }}</p>
		         {{ entity.description|raw() }}
        </div>
        <div id="news" class="tab-pane">
        		<div class="clearfix">&nbsp;</div>
          	<p class="lead">{{ 'Here\'s the list of news related to'|trans() }} {{ entity }} {{ 'project'|trans() }}</p>
          	{% if entity.entries %}
          			<ul>
          			{% for entry in entity.entries %}
          					<li>
          							<strong>{{ entry }}</strong><br />
          							<small>{{ 'On'|trans() }} {{ entry.createdAt|localizeddate('short', 'short') }}</small><br />
          							<p>{{ entry.content }}</p>
          					</li>
          			{% endfor %}
          			</ul>
          	{% else %}
          			<p><strong>{{ 'There\'s no news for the moment'|trans() }}</strong><p>
          	{% endif %}
        </div>
        <div id="participants" class="tab-pane">
        		<div class="clearfix">&nbsp;</div>
          	<p class="lead">{{ 'Here\'s the list of persons that have funded'|trans() }} {{ entity }} {{ 'project'|trans() }}</p>
          	{% if entity.contributions %}
          			<ul>
          			{% for contribution in entity.contributions %}
          					<li><a href="#">{{ contribution.user }}</a></li>
          			{% endfor %}
          			</ul>
          	{% else %}
          			<p><strong>{{ 'There\'s no participants for the moment'|trans() }}</strong><p>
          	{% endif %}
        </div>
        <div id="comments" class="tab-pane">
        		<div class="clearfix">&nbsp;</div>
          	<p class="lead">{{ 'Here\'s the list of comments related to'|trans() }} {{ entity }} {{ 'project'|trans() }}</p> 
          	{% if entity.entries %}
          			{% for entry in entity.entries %}
          					{% if entry.comments %}
		          					<ul>          			
		          					{% for comment in entry.comments %}
				          					<li>
				          							<strong><a href="#">{{ comment.user }}</a></strong><br />
				          							<small>{{ 'On'|trans() }} {{ comment.createdAt|localizeddate('short', 'short') }}</small><br />
				          							<p>{{ comment.content }}</p>
				          					</li>
				          			{% endfor %}
				          			</ul>
		          			{% endif %}
		          	{% endfor %}
		        {% else %}
          			<p><strong>{{ 'There\'s no comments for the moment'|trans() }}</strong><p>
          	{% endif %}         	
        </div>
		</div>
	</div>
	<div style="float:left;width:25%">
			{% if entity.status == '1' %}
					<p>
				    	<div class="progress progress-striped active">
					        <div class="progress-bar" role="progressbar" aria-valuenow="{{ entity.likesCount }}" aria-valuemin="0"
					             aria-valuemax="{{ entity.likesRequired }}"
					             style="width:{% if entity.likesCount == 0 %}0{% else %}{{ (entity.likesCount/entity.likesRequired) * 100 }}{% endif %}%">
					            <span class="sr-only">{% if entity.likesCount == 0 %}0{% else %}{{ (entity.likesCount/entity.likesRequired) * 100 }}{% endif %} {{ '% completed'|trans() }}</span>
					        </div>
					    </div>
					   	<strong><span class="likes_count">{{ entity.likesCount }}</span> {{ 'likes'|trans() }}</strong><br/>
			    		<strong>{{ entity.endingAt|time_remaining }}</strong>
			    </p>
			    <p>
			    		<a href="#" class="btn btn btn-success" id="likeProject">{{ 'I like this project'|trans() }}</a>
			    </p>
			    <p class="lead">{{ 'Engagement evolution'|trans() }}</p>		  
			{% else %}
					<p>
					    <div class="progress progress-striped active">
					        <div class="progress-bar" role="progressbar" aria-valuenow="{{ entity.amountCount }}" aria-valuemin="0"
					             aria-valuemax="{{ entity.amountRequired }}"
					             style="width:{% if entity.amountCount == 0 %}0{% else %}{{ (entity.amountCount/entity.amountRequired) * 100 }}{% endif %}%">
					            <span class="sr-only">{% if entity.amountCount == 0 %}0{% else %}{{ (entity.amountCount/entity.amountRequired) * 100 }}{% endif %} {{ '€'|trans() }}</span>
					        </div>
					    </div>
					    <strong><span class="amount_count">{{ entity.amountCount }}</span> {{ '€ of'|trans() }} {{ entity.amountRequired }} {{ '€ required amount to raise'|trans() }}</strong><br/>
	    				<strong>{{ entity.contributions|length }} {{ 'participants'|trans() }}</strong><br />
	    				<strong>{{ entity.endingAt|time_remaining }} {{ dump(entity.endingAt) }}</strong>
	    		</p>		
	    		<p>
			    		<a href="#" class="btn btn btn-success" id="fundProject">{{ 'Fund this project'|trans() }}</a>
			    </p>
			{% endif %}
			
			<hr class="clearfix" />
			
	    <p>    
		    {{ 'Project realized by'|trans() }}<br />
		    
	    	{% if entity.user.photo %}
		        <img src="{{ asset(entity.user.photo) }}" width="75">
		    {% else %}
		        <strong>{{ 'N/A'|trans() }}</strong>
		    {% endif %}
	    
		    <strong>{{ entity.user }}</strong>
		    <small>{{ entity.user.city }}, {{ entity.user.country|country(app.request.locale) }}</small>
	    </p>
	    <p>
	    		<a href="#">{{ 'Contact'|trans() }}</a>
	    		<a href="#">{{ 'Check his profile'|trans() }}</a>
	    </p>   
	    <p>
	    		<a href="#">{{ 'His projects'|trans() }} ({{ entity.user.projects|length }} {{ 'realized projects'|trans() }})</a>
	    </p> 
	    
			<hr class="clearfix" />
			
			<p>
				<strong>{{ entity.brand }}</strong>	
				
				{% if entity.brand.logo %}
		        <img src="{{ asset(entity.brand.logo) }}" width="75">
		    {% else %}
		        <strong>{{ 'N/A'|trans() }}</strong>
		    {% endif %}
	    
		    <ul>
		    {% for project in entity.brand.projects|reverse|slice(0, 4) %}
		        <li><a href="#">{{ project.name|e }}</a></li>
		    {% endfor %}	
		    </ul>
			</p>
			<p>
	    		<a href="#">{{ 'More projects from'|trans() }} {{ entity.brand }}</a>
	    </p>
	    
	   	<hr class="clearfix" />
	   			         		
	    {% if entity.status != '1' %}
	    	{% if entity.rewards %}
	    		<ul>
	     			{% for reward in entity.rewards %}
	     				<li>
	     					<p><strong>{{ reward.title }}</strong></p>
	     					<p>{{ reward.stock }} {{ 'participants'|trans() }}</p>
	     					<p>{{ reward.description }}</p>
	     				</li>
	     			{% endfor %}
	    		</ul>
	    	{% endif %}
	    {% endif %} 
    </div>
	</div>   	
	<script type="text/javascript">
			$(document).ready(function () {
        	// Project tabs
        	$('#projectTab a').click(function (e) {
							e.preventDefault();
							$(this).tab('show');
					});
			});
	</script>
