{% extends '::base.html.twig' %}

{% set entries_ids = [] %}
{% if entity.entries %}
    {% for entry in entity.entries|reverse %}
        {% if (is_granted('ROLE_USER') and app.user.id == entity.user.id) or (entry.isPublic) or (is_granted('ROLE_USER') and app.user.id in usersIds) %}
                {% set entries_ids = entries_ids|merge([entry.id]) %}
        {% endif %}
  {% endfor %}
{% endif %}

{% block meta_title %}
    {{ 'Project'|trans() }} {{ entity }} | {{ parent() }}
{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('static/js/modules/progress-bars.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('static/js/modules/involve-graph.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('static/js/modules/project-carousel.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('static/js/modules/tabs-display.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('js/fancybox/jquery.fancybox.pack.js') }}"></script>
{% endblock %}

{% block body %}
    <section>
        {% if entity.status == '1' %}
            {% set showLikeBox = true %}
            {% set showFinanceBox = false %}
            {% set showInvolveBox = true %}
            {% set showRewardsBox = false %}
        {% else %}
            {% set showLikeBox = false %}
            {% set showFinanceBox = true %}
            {% set showInvolveBox = false %}
            {% set showRewardsBox = true %}
        {% endif %}

        <div class="aside-part classic wRope">
            <div class="rope-container"></div>
            {% set side_menu_vars = {'like': showLikeBox, 'finance': showFinanceBox, 'involve': false, 'author': false, 'brand': false, 'rewards': false} %}
            {% include "LittleBigJoeFrontendBundle:includes:aside/side-project-infos.html.twig" with side_menu_vars %}
        </div>

        <article class="wContent classic">
            {% include "LittleBigJoeFrontendBundle:includes:utils/content-with-tabs.html.twig" %}
        </article>

        <div class="aside-part classic">
            {% set side_menu_vars = {'like': false, 'finance': false, 'involve': showInvolveBox, 'author': true, 'brand': true, 'rewards': showRewardsBox} %}
            {% include "LittleBigJoeFrontendBundle:includes:aside/side-project-infos.html.twig" with side_menu_vars %}
        </div>

    </section>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="helpProject" tabindex="-1" role="dialog" aria-labelledby="helpProjectLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="helpProjectLabel">{{ 'Help us to realize this project'|trans() }}</h4>
                </div>
                <div class="modal-body">
                    {{ form(help_project_form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans() }}</button>
                    <button type="button" id="saveHelpProject" class="btn btn-primary">{{ 'Save'|trans() }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reportProject" tabindex="-1" role="dialog" aria-labelledby="reportProjectLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="reportProjectLabel">{{ 'Report this project'|trans() }}</h4>
                </div>
                <div class="modal-body">
                    {{ form(report_form, {attr:{id:'reportForm', role:'form'}}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans() }}</button>
                    <button type="button" id="saveReportProject" class="btn btn-primary">{{ 'Report'|trans() }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="declineProduct" tabindex="-1" role="dialog" aria-labelledby="declineProductLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="declineProductLabel">{{ 'Decline the product'|trans() }}</h4>
                </div>
                <div class="modal-body">
                    {{ form(decline_form, {attr:{id:'declineForm', role:'form'}}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Previous'|trans() }}</button>
                    <button type="button" id="saveDeclineProduct" class="btn btn-primary">{{ 'Submit'|trans() }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var currentProjectId = {{ entity.id }};
        var currentUserId = {{ entity.user.id }};
        var currentBrandId = {{ entity.brand.id }};
        var onLabel = "{{ 'On'|trans() }}";
        var publicLabel = "{{ '(Public)'|trans() }}";
        var privateLabel = "{{ '(Private)'|trans() }}";

        $(document).ready(function () {
            {% if entity.product is defined and entity.product.validatedAt is defined %}
                window.location.hash = "tab_4";
            {% endif %}

            {% if showLikePopup == 'true' %}
                $('#helpProject').modal();
                $('#helpProject').on('hidden.bs.modal', function (e) {
                    $.post("{{ path('littlebigjoe_frontendbundle_ajax_like_project') }}", { 'projectId' : currentProjectId })
                            .done(function(data) {
                                if (data.status == 'OK')
                                {
                                    alert("{{ 'Thanks for liking the project !'|trans() }}");
                                    var likes = parseInt($('.likes_count').text()) + 1;
                                    $('.likes_count').text(likes);
                                    $('#likeProject').hide();
                                    $('#unlikeProject').show();
                                }
                                else if (data.status == 'KO USER')
                                {
                                    window.location = "{{ path('fos_user_security_login') }}";
                                }
                                else if (data.status == 'KO VOTE')
                                {
                                    alert("{{ 'You already have liked this project !'|trans() }}");

                                }
                                else
                                {
                                    alert("{{ 'An error has occured during project liking. Please try again'|trans() }}");
                                }
                            });
                });
            {% endif %}

            {% if showFundingPopup == 'true' %}
                $('#helpProject').modal();
                $('#helpProject').on('hidden.bs.modal', function (e) {
                    $('#fundingForm').submit();
                });
            {% endif %}

            // Follow request
            $('#followUser').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_follow_user') }}", { 'userId' : currentUserId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#followUser').hide();
                        $('#unfollowUser').show();
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                });
            });

            // Hover
            $(".followed-style").hover(function(){
                $(this).html("{{ 'Unfollow'|trans() }}");
            }, function(){
                $(this).html("{{ 'Followed'|trans() }}");
            });

            // Unfollow request
            $('#unfollowUser').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_unfollow_user') }}", { 'userId' : currentUserId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#unfollowUser').hide();
                        $('#followUser').show();
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                });
            });

            // Follow request
            $('#followBrand').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_follow_brand') }}", { 'brandId' : currentBrandId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        alert("{{ 'Thanks for follow this brand !'|trans() }}");
                        $('#followBrand').hide();
                        $('#unfollowBrand').show();
                    }
                    else if (data.status == 'KO BRAND')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO FOLLOW')
                    {
                        alert("{{ 'You already have followed this brand !'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during nra follow. Please try again'|trans() }}");
                    }
                });
            });

            // Hover
            $(".followed-style").hover(function(){
                $(this).html("{{ 'Unfollow'|trans() }}");
            }, function(){
                $(this).html("{{ 'Followed'|trans() }}");
            });

            // Unfollow request
            $('#unfollowBrand').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_unfollow_brand') }}", { 'brandId' : currentBrandId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        alert("{{ 'Thanks for unfollow this brand !'|trans() }}");
                        $('#unfollowBrand').hide();
                        $('#followBrand').show();
                    }
                    else if (data.status == 'KO BRAND')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO UNFOLLOW')
                    {
                        alert("{{ 'You already have unfollowed this brand !'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during brand unfollow. Please try again'|trans() }}");
                    }
                });
            });

            // Show report form
            $('#reportProjectButton').click(function(e) {
                $('#reportProject').modal();
            });

            // Report project request
            $('#saveReportProject').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_report_project') }}", { 'projectId' : currentProjectId, 'data' : $('#reportProject form').serializeArray() })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#reportProject').modal('hide');
                        alert("{{ 'Thanks for reporting this project !'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during project reporting. Please try again'|trans() }}");
                    }
                });
            });

            // Help project request
            $('#saveHelpProject').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_help_project') }}", { 'projectId' : currentProjectId, 'data' : $('#helpProject form').serializeArray() })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#helpProject').modal('hide');
                    }
                    else
                    {
                        alert("{{ 'An error has occured during nra follow. Please try again'|trans() }}");
                    }
                });
            });

            // Like request
            $('#likeProject').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_like_project') }}", { 'projectId' : currentProjectId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#helpProject').modal({'backdrop': true});
                        $('#helpProject').on('hidden.bs.modal', function (e) {
                            alert("{{ 'Thanks for liking the project !'|trans() }}");
                            var likes = parseInt($('.likes_count').text()) + 1;
                            $('.likes_count').text(likes);
                            $('#likeProject').hide();
                            $('#unlikeProject').show();
                        });
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO VOTE')
                    {
                        $('#helpProject').modal();
                        $('#helpProject').on('hidden.bs.modal', function (e) {
                            alert("{{ 'You already have liked this project !'|trans() }}");
                        });
                    }
                    else
                    {
                        alert("{{ 'An error has occured during project liking. Please try again'|trans() }}");
                    }
                });
            });

            // Funding request
            $('#fundingForm .btn').click(function (e) {
                e.preventDefault();
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_fund_project') }}", { 'projectId' : currentProjectId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#helpProject').modal();
                        $('#helpProject').on('hidden.bs.modal', function (e) {
                            $('#fundingForm').submit();
                        });
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else
                    {
                        alert("{{ 'An error has occured during project liking. Please try again'|trans() }}");
                    }
                });
            });

            // Create entry
            $('#entry_addEntry').click(function (e) {
                for ( instance in CKEDITOR.instances )
                    CKEDITOR.instances[instance].updateElement();

                $.post("{{ path('littlebigjoe_frontendbundle_ajax_entry_project') }}", $('#entryForm').serialize())
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        var userShowPath = "{{ path('littlebigjoe_frontendbundle_user_show', {'id': " + data.entry.user_id + "}) }}";
                        if (data.entry.user_photo != 'null' && data.entry.user_photo != null)
                        {
                            var userPhoto = '/' + data.entry.user_photo;
                        }
                        else
                        {
                            var userPhoto = '/static/img/mascot-square.png';
                        }

                        var entryHtml = '<li><div class="pull-right text-muted">' + data.entry.created_at + '</div><h4 class="media-heading">' + data.entry.title + '</h4><p>' + data.entry.content + '</p><li class="media"><a class="pull-left" href="' + userShowPath + '"><img class="media-object" src="' + userPhoto + '" alt="alt-LBJ - brand" width="64" height="64" /></a><div class="media-body"><h4 class="media-heading">' + data.entry.user + '</h4></div></li>';

                        if ($('#entries_list li').length > 0)
                        {
                            $('#entries_list li:eq(0)').before(entryHtml);
                        }
                        else
                        {
                            $('#entryInfos').empty().append('<ul id="entries_list" class="media-list">' + entryHtml + '</ul>');
                        }

                        $('#entry_title').val('');
                        $('#entry_content').val('');
                        CKEDITOR.instances['entry_content'].setData("");
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO FIELD')
                    {
                        alert("{{ 'Some fields are required. Please fill them before submitting the form'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during entry saving. Please try again'|trans() }}");
                    }
                });
            });

            // Create entry comment
            $('.generate-entry-comment').click(function (e) {
                var entryId = parseInt($(this).attr('data-entry'));
                var projectId = parseInt($(this).attr('data-project'));

                $('#entrycomment_project').val(projectId);
                $('#entrycomment_entry').val(entryId);
                $('#entrycomment_content').text();
                $('#entry-comment').removeClass('hide');
            });

            // Create entry comment
            $('#entrycomment_addEntryComment').click(function (e) {
                var entryId = parseInt($('#entrycomment_entry').val());

                $.post("{{ path('littlebigjoe_frontendbundle_ajax_entry_comment_project') }}", $('#entry-comment form').serialize())
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        var userShowPath = "{{ path('littlebigjoe_frontendbundle_user_show', {'id': " + data.comment.user_id + "}) }}";
                        if (data.comment.user_photo != 'null' && data.comment.user_photo != null)
                        {
                            var userPhoto = '/' + data.comment.user_photo;
                        }
                        else
                        {
                            var userPhoto = '/static/img/mascot-square.png';
                        }

                        var commentHtml = '<li class="media"><a class="pull-left" href="' + userShowPath + '"><img class="media-object" src="' + userPhoto + '" alt="alt-LBJ - brand" width="64" height="64" /></a><div class="media-body"><div class="pull-right text-muted">' + data.comment.created_at + '</div><h4 class="media-heading">' + data.comment.user_name + '</h4><p>' + data.comment.content + '</p></div></li>';

                        if ($('#entryCommentsContainer_' + data.comment.entry_id + ' li').length > 0)
                        {
                            $('#entryCommentsContainer_' + data.comment.entry_id + ' li:eq(0)').before(commentHtml);
                        }
                        else
                        {
                            $('#entryCommentsContainer_' + data.comment.entry_id).empty().append(commentHtml);
                        }

                        $('#entrycomment_project').val('');
                        $('#entrycomment_entry').val('');
                        $('#entrycomment_content').val('');
                        $('#entry-comment').addClass('hide');
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO FIELD')
                    {
                        alert("{{ 'Some fields are required. Please fill them before submitting the form'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during comment saving. Please try again'|trans() }}");
                    }
                });
            });

            // Create comment
            $('#comment_addComment').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_comment_project') }}", $('#commentForm').serialize())
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        var userShowPath = "{{ path('littlebigjoe_frontendbundle_user_show', {'id': " + data.comment.user_id + "}) }}";
                        if (data.comment.user_photo != 'null' && data.comment.user_photo != null)
                        {
                            var userPhoto = '/' + data.comment.user_photo;
                        }
                        else
                        {
                            var userPhoto = '/static/img/mascot-square.png';
                        }

                        var commentHtml = '<li class="media"><a class="pull-left" href="' + userShowPath + '"><img class="media-object" src="' + userPhoto + '" alt="alt-LBJ - brand" width="64" height="64" /></a><div class="media-body"><div class="pull-right text-muted">' + data.comment.created_at + '</div><h4 class="media-heading">' + data.comment.user_name + '</h4><p>' + data.comment.content + '</p></div></li>';

                        if ($('#commentsContainer li').length > 0)
                        {
                            $('#commentsContainer li:eq(0)').before(commentHtml);
                        }
                        else
                        {
                            $('#commentsContainer').empty().append(commentHtml);
                        }

                        $('#comment_content').val('');
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO FIELD')
                    {
                        alert("{{ 'Some fields are required. Please fill them before submitting the form'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during comment saving. Please try again'|trans() }}");
                    }
                });
            });

            // Decline product form
            $('#showDeclineForm').click(function (e) {
                $('#declineProduct').modal();
                $('#saveDeclineProduct').click(function(e){
                    $('#declineForm').submit();
                })
            });

            // Delete comment
            $('.deleteComment').click(function (e) {
                var commentId = $(this).attr('rel');
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_delete_comment_project') }}", { 'commentId' : commentId })
                    .done(function(data) {
                        if (data.status == 'OK')
                        {
                            $('#comment_' + commentId).remove();
                        }
                        else if (data.status == 'KO USER')
                        {
                            window.location = "{{ path('fos_user_security_login') }}";
                        }
                    });
            });

            // Unlike project
            $('#unlikeProject').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_unlike_project') }}", { 'projectId' : currentProjectId })
                    .done(function(data) {
                        if (data.status == 'OK')
                        {
                            var likes = parseInt($('.likes_count').text()) - 1;
                            $('.likes_count').text(likes);
                            $('#likeProject').show();
                            $('#unlikeProject').hide();
                        }
                        else if (data.status == 'KO USER')
                        {
                            window.location = "{{ path('fos_user_security_login') }}";
                        }
                        else if (data.status == 'KO VOTE')
                        {
                            $('#helpProject').modal();
                            $('#helpProject').on('hidden.bs.modal', function (e) {
                                alert("{{ 'You already have unliked this project !'|trans() }}");
                            });
                        }
                        else
                        {
                            alert("{{ 'An error has occured during project unliking. Please try again'|trans() }}");
                        }
                });
            });

            // Fancybox
            $('.fancybox').fancybox();
        });
    </script>
{% endblock %}
