{% extends '::base.html.twig' %}

{% set entries_ids = [] %}
{% if entity.entries %}
    {% for entry in entity.entries|reverse %}
        {% if (is_granted('ROLE_USER') and app.user.id == entity.user.id) or (entry.isPublic) or (is_granted('ROLE_USER') and app.user.id in usersIds) %}
                {% set entries_ids = entries_ids|merge([entry.id]) %}
        {% endif %}
  {% endfor %}
{% endif %}

{% block meta_title %}
    {{ 'Project'|trans() }} {{ entity }} | {{ parent() }}
{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('static/js/modules/progress-bars.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('static/js/modules/involve-graph.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('static/js/modules/project-carousel.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('static/js/modules/tabs-display.js') }}" ></script>
{% endblock %}

{% block body %}
    <section>
        {% if entity.status == '1' %}
            {% set showLikeBox = true %}
            {% set showFinanceBox = false %}
            {% set showInvolveBox = true %}
            {% set showRewardsBox = false %}
        {% else %}
            {% set showLikeBox = false %}
            {% set showFinanceBox = true %}
            {% set showInvolveBox = false %}
            {% set showRewardsBox = true %}
        {% endif %}

        <div class="aside-part classic wRope">
            <div class="rope-container"></div>
            {% set side_menu_vars = {'like': showLikeBox, 'finance': showFinanceBox, 'involve': false, 'author': false, 'brand': false, 'rewards': false} %}
            {% include "LittleBigJoeFrontendBundle:includes:aside/side-project-infos.html.twig" with side_menu_vars %}
        </div>

        <article class="wContent classic">
            {% include "LittleBigJoeFrontendBundle:includes:utils/content-with-tabs.html.twig" %}
        </article>

        <div class="aside-part classic">
            {% set side_menu_vars = {'like': false, 'finance': false, 'involve': showInvolveBox, 'author': true, 'brand': true, 'rewards': showRewardsBox} %}
            {% include "LittleBigJoeFrontendBundle:includes:aside/side-project-infos.html.twig" with side_menu_vars %}
        </div>

    </section>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="helpProject" tabindex="-1" role="dialog" aria-labelledby="helpProjectLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="helpProjectLabel">{{ 'Help us to realize this project'|trans() }}</h4>
                </div>
                <div class="modal-body">
                    {{ form(help_project_form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans() }}</button>
                    <button type="button" id="saveHelpProject" class="btn btn-primary">{{ 'Save'|trans() }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reportProject" tabindex="-1" role="dialog" aria-labelledby="reportProjectLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="reportProjectLabel">{{ 'Report this project'|trans() }}</h4>
                </div>
                <div class="modal-body">
                    {{ form(report_form, {attr:{id:'reportForm', role:'form'}}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans() }}</button>
                    <button type="button" id="saveReportProject" class="btn btn-primary">{{ 'Report'|trans() }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="declineProduct" tabindex="-1" role="dialog" aria-labelledby="declineProductLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="declineProductLabel">{{ 'Decline the product'|trans() }}</h4>
                </div>
                <div class="modal-body">
                    {{ form(decline_form, {attr:{id:'declineForm', role:'form'}}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Previous'|trans() }}</button>
                    <button type="button" id="saveDeclineProduct" class="btn btn-primary">{{ 'Submit'|trans() }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var currentProjectId = {{ entity.id }};
        var currentUserId = {{ entity.user.id }};
        var currentBrandId = {{ entity.brand.id }};
        var onLabel = "{{ 'On'|trans() }}";
        var publicLabel = "{{ '(Public)'|trans() }}";
        var privateLabel = "{{ '(Private)'|trans() }}";

        $(document).ready(function () {
            {% if showLikePopup == 'true' %}
                $('#helpProject').modal({'backdrop': false});
                $('#helpProject').on('hidden.bs.modal', function (e) {
                    $.post("{{ path('littlebigjoe_frontendbundle_ajax_like_project') }}", { 'projectId' : currentProjectId })
                            .done(function(data) {
                                if (data.status == 'OK')
                                {
                                    alert("{{ 'Thanks for liking the project !'|trans() }}");
                                    var likes = parseInt($('.likes_count').text()) + 1;
                                    $('.likes_count').text(likes);
                                }
                                else if (data.status == 'KO USER')
                                {
                                    window.location = "{{ path('fos_user_security_login') }}";
                                }
                                else if (data.status == 'KO VOTE')
                                {
                                    alert("{{ 'You already have liked this project !'|trans() }}");

                                }
                                else
                                {
                                    alert("{{ 'An error has occured during project liking. Please try again'|trans() }}");
                                }
                            });
                });
            {% endif %}

            {% if showFundingPopup == 'true' %}
                $('#helpProject').modal({'backdrop': false});
                $('#helpProject').on('hidden.bs.modal', function (e) {
                    $('#fundingForm').submit();
                });
            {% endif %}

            for ( instance in CKEDITOR.instances )
                CKEDITOR.instances[instance].setData("");

            // Follow request
            $('#followUser').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_follow_user') }}", { 'userId' : currentUserId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#followUser').hide();
                        $('#unfollowUser').show();
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                });
            });

            // Hover
            $(".followed-style").hover(function(){
                $(this).html("{{ 'Unfollow'|trans() }}");
            }, function(){
                $(this).html("{{ 'Followed'|trans() }}");
            });

            // Unfollow request
            $('#unfollowUser').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_unfollow_user') }}", { 'userId' : currentUserId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#unfollowUser').hide();
                        $('#followUser').show();
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                });
            });

            // Follow request
            $('#followBrand').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_follow_brand') }}", { 'brandId' : currentBrandId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        alert("{{ 'Thanks for follow this brand !'|trans() }}");
                        $('#followBrand').hide();
                        $('#unfollowBrand').show();
                    }
                    else if (data.status == 'KO BRAND')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO FOLLOW')
                    {
                        alert("{{ 'You already have followed this brand !'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during nra follow. Please try again'|trans() }}");
                    }
                });
            });

            // Hover
            $(".followed-style").hover(function(){
                $(this).html("{{ 'Unfollow'|trans() }}");
            }, function(){
                $(this).html("{{ 'Followed'|trans() }}");
            });

            // Unfollow request
            $('#unfollowBrand').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_unfollow_brand') }}", { 'brandId' : currentBrandId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        alert("{{ 'Thanks for unfollow this brand !'|trans() }}");
                        $('#unfollowBrand').hide();
                        $('#followBrand').show();
                    }
                    else if (data.status == 'KO BRAND')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO UNFOLLOW')
                    {
                        alert("{{ 'You already have unfollowed this brand !'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during brand unfollow. Please try again'|trans() }}");
                    }
                });
            });

            // Show report form
            $('#reportProjectButton').click(function(e) {
                $('#reportProject').modal({'backdrop': false});
            });

            // Report project request
            $('#saveReportProject').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_report_project') }}", { 'projectId' : currentProjectId, 'data' : $('#reportProject form').serializeArray() })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#reportProject').modal('hide');
                        alert("{{ 'Thanks for reporting this project !'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during project reporting. Please try again'|trans() }}");
                    }
                });
            });

            // Help project request
            $('#saveHelpProject').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_help_project') }}", { 'projectId' : currentProjectId, 'data' : $('#helpProject form').serializeArray() })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#helpProject').modal('hide');
                    }
                    else
                    {
                        alert("{{ 'An error has occured during nra follow. Please try again'|trans() }}");
                    }
                });
            });

            // Like request
            $('#likeProject').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_like_project') }}", { 'projectId' : currentProjectId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#helpProject').modal({'backdrop': true});
                        $('#helpProject').on('hidden.bs.modal', function (e) {
                            alert("{{ 'Thanks for liking the project !'|trans() }}");
                            var likes = parseInt($('.likes_count').text()) + 1;
                            $('.likes_count').text(likes);
                        });
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO VOTE')
                    {
                        $('#helpProject').modal({'backdrop': false});
                        $('#helpProject').on('hidden.bs.modal', function (e) {
                            alert("{{ 'You already have liked this project !'|trans() }}");
                        });
                    }
                    else
                    {
                        alert("{{ 'An error has occured during project liking. Please try again'|trans() }}");
                    }
                });
            });

            // Funding request
            $('#fundingForm .btn').click(function (e) {
                e.preventDefault();
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_fund_project') }}", { 'projectId' : currentProjectId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        $('#helpProject').modal({'backdrop': false});
                        $('#helpProject').on('hidden.bs.modal', function (e) {
                            $('#fundingForm').submit();
                        });
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else
                    {
                        alert("{{ 'An error has occured during project liking. Please try again'|trans() }}");
                    }
                });
            });

            // Create entry
            $('#entry_addEntry').click(function (e) {
                for ( instance in CKEDITOR.instances )
                    CKEDITOR.instances[instance].updateElement();

                $.post("{{ path('littlebigjoe_frontendbundle_ajax_entry_project') }}", $('#entryForm').serialize())
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        alert("{{ 'Thanks for posting your entry !'|trans() }}");

                        $('#entries_list .entry:eq(0)').before('<li><strong>' + data.entry.title + ' ' + ((data.entry.is_public == '1') ? publicLabel : privateLabel) + '</strong><br /><small>' + onLabel + ' ' + data.entry.created_at + '</small><br /><p>' + data.entry.content + '</p></li>');

                        $("#entry_title").val("");
                        CKEDITOR.instances['entry_content'].setData("");

                        var entries = parseInt($('.entries_count').text()) + 1;
                        $('.entries_count').text(entries);
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO FIELD')
                    {
                        alert("{{ 'Some fields are required. Please fill them before submitting the form'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during entry saving. Please try again'|trans() }}");
                    }
                });
            });

            // Create entry comment
            $('#entrycomment_addEntryComment').click(function (e) {
                for ( instance in CKEDITOR.instances )
                    CKEDITOR.instances[instance].updateElement();

                var entryId = parseInt($('#entrycomment_entry').val());

                $.post("{{ path('littlebigjoe_frontendbundle_ajax_entry_comment_project') }}", $('#entryCommentForm').serialize())
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        alert("{{ 'Thanks for posting your comment !'|trans() }}");

                        var userShowPath = "{{ path('littlebigjoe_frontendbundle_user_show', {'id': " + data.comment.user_id + "}) }}";
                        $('#entry_' + entryId + '_comment_list li:eq(0)').before('<li><strong><a href="' + userShowPath + '">' + data.comment.user_name + '</a></strong><br /><small>' + onLabel + ' ' + data.comment.created_at + '</small><br />' + data.comment.content + '</li>');

                        CKEDITOR.instances['entrycomment_content'].setData("");
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO FIELD')
                    {
                        alert("{{ 'Some fields are required. Please fill them before submitting the form'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during comment saving. Please try again'|trans() }}");
                    }
                });
            });

            // Create comment
            $('#comment_addComment').click(function (e) {
                for ( instance in CKEDITOR.instances )
                    CKEDITOR.instances[instance].updateElement();

                $.post("{{ path('littlebigjoe_frontendbundle_ajax_comment_project') }}", $('#commentForm').serialize())
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                        alert("{{ 'Thanks for posting your comment !'|trans() }}");

                        var userShowPath = "{{ path('littlebigjoe_frontendbundle_user_show', {'id': " + data.comment.user_id + "}) }}";
                        $('#comments_list li:eq(0)').before('<li><strong><a href="' + userShowPath + '">' + data.comment.user_name + '</a></strong><br /><small>' + onLabel + ' ' + data.comment.created_at + '</small><br />' + data.comment.content + '</li>');

                        CKEDITOR.instances['comment_content'].setData("");

                        var comments = parseInt($('.comments_count').text()) + 1;
                        $('.comments_count').text(comments);
                    }
                    else if (data.status == 'KO USER')
                    {
                        window.location = "{{ path('fos_user_security_login') }}";
                    }
                    else if (data.status == 'KO FIELD')
                    {
                        alert("{{ 'Some fields are required. Please fill them before submitting the form'|trans() }}");
                    }
                    else
                    {
                        alert("{{ 'An error has occured during comment saving. Please try again'|trans() }}");
                    }
                });
            });

            // Decline product form
            $('#showDeclineForm').click(function (e) {
                $('#declineProduct').modal({'backdrop': false});
                $('#saveDeclineProduct').click(function(e){
                    $('#declineForm').submit();
                })
            });
        });
    </script>
{% endblock %}
