<div class="reward-container">
    <div class="title"><span class="orange-text">{{ reward.title }} ({{ reward.amount|default('0') }}{{ '€ or more'|trans() }})</span></div>

    <div class="participating">
        <img class="icon" src="{{ asset('static/img/icons/icon-people-gray.png') }}" alt="alt-LBJ - people icon" />
        {% if reward.stock is not null and reward.stock == 0 %}
        <span class="orange-text">{{ nb_participants }}</span> {% transchoice nb_participants %}{0} participant|{1} participant|]1,Inf] participants{% endtranschoice %} <span class="light-text">/ {{ '(unlimited)'|trans() }}</span>
        {% else %}
            <span class="orange-text">{{ nb_participants }}</span> {% transchoice nb_participants %}{0} participant|{1} participant|]1,Inf] participants{% endtranschoice %} <span class="light-text">/ {{ reward.stock }} {{ 'max.'|trans() }}</span>
        {% endif %}
    </div>

    <div class="text-infos">
        <p>{{ reward.description }}</p>
    </div>

    {% if reward.stock is not null and reward.stock != 0 %}
        <div class="ribbon"><span>{{ 'Limited'|trans() }}</span></div>
    {% endif %}
</div>