<div class="outer-title">

    <h1>{{ entity }}
    {% set canCreateProduct = false %}
    {% set canEditProject = false %}

    {% if isPreview is not defined %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% set canCreateProduct = true %}
            {% set canEditProject = true %}
        {% elseif is_granted('ROLE_BRAND_ADMIN') %}
            {% for brand in app.user.brands %}
                {% if brand.id == entity.brand.id %}
                    {% set canCreateProduct = true %}
                {% endif %}
            {% endfor %}
        {% elseif is_granted('ROLE_USER') and entity.user.id == app.user.id %}
            {% set canEditProject = true %}
        {% endif %}
        {% if canCreateProduct and entity.status == '1' and ((entity.product is null) or (entity.product and entity.product.validatedAt is null)) %}
            <a style="font-size: 12px;padding: 5px 10px;float:right;" href="{{ path('littlebigjoe_frontendbundle_project_create_product', {'id': entity.id, 'slug': entity.slug}) }}" class="btn btn-primary btn-sm">{{ 'Validate'|trans() }}</a>
         {% endif %}
        {% if canEditProject %}
            <a style="font-size: 12px;padding: 5px 10px;float:right;" href="{{ path('littlebigjoe_frontendbundle_project_edit', {'id': entity.id, 'slug': entity.slug}) }}" class="btn btn-primary btn-sm">{{ 'Edit'|trans() }}</a>
        {% endif %}
    {% endif %}
    </h1>

    <div class="brand-location">
        <img class="icon" src="{{ asset('static/img/icons/icon-location.png') }}" alt="alt-LBJ - location icon" /> <strong>{{ entity.location }}</strong>
    </div>

    <div class="keywords-container">
        {% for category in entity.categories %}
            <div class="keyword"><span>{{ category }}</span><img src="{{ asset('static/img/bg/keyword.png') }}" alt="alt-LBJ - keyword" /></div>
        {% endfor %}
    </div>

</div>

<div class="white-container">

    <div class="tabs-container">
        {% set allTabs = false %}
        {# N'affiche l'onglet que si c'est le créateur du projet, un admin LBJ, un admin marque, ou que le produit est validé #}
        {% if entity.product and (canCreateProduct or canEditProject or (entity.status == '2' and entity.product.validatedAt is defined)) %}
            {% set allTabs = true %}
        {% endif %}

        <div class="tab tabSmall" id="tab_0"><img class="icon" src="{{ asset('static/img/icons/icon-projects-gray.png') }}" alt="alt-LBJ - projects icon" />{{ 'Project'|trans() }}</div>
        {% if allTabs %}<div class="tab tabSmall" id="tab_4"><img class="icon" src="{{ asset('static/img/icons/icon-coins.png') }}" alt="alt-LBJ - news icon" />{{ 'Product'|trans() }}</div>{% endif %}
        <div class="tab tabSmall" id="tab_1"><img class="icon" src="{{ asset('static/img/icons/icon-news.png') }}" alt="alt-LBJ - news icon" />{{ 'News'|trans() }}</div>
        <div class="tab tabSmall" id="tab_2"><img class="icon" src="{{ asset('static/img/icons/icon-people-gray.png') }}" alt="alt-LBJ - people icon" />{{ 'Participants'|trans() }}</div>
        <div class="tab tabSmall" id="tab_3"><img class="icon" src="{{ asset('static/img/icons/icon-comment.png') }}" alt="alt-LBJ - comment icon" />{{ 'Comments'|trans() }}</div>
    </div>

    {# ----- TAB 'PROJET' ------ #}
    <div class="tab-content-container" id="tabcont_0">
        <div class="wContent-video-container">
            {% if projectMedias is not defined %}
                {% set projectMedias = entity.medias %}
            {% endif %}

            {% if projectMedias %}
                {% set hasDefaultMedia = false %}
                {% for projectMedia in projectMedias %}
                    {% if projectMedia.highlighted %}
                        {% if projectMedia.type == 'video' %}
                            <a href="{{ projectMedia.videoUrl }}?autoplay=1" class="fancybox fancybox.iframe">
                                <img src="{{ projectMedia.image }}"/>
                            </a>
                        {% else %}
                            <a href="{{ asset(projectMedia.image) }}" class="fancybox">
                                <img src="{{ asset(projectMedia.image) }}" alt="alt-LBJ - project image" />
                            </a>
                        {% endif %}
                        {% set hasDefaultMedia = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="article-header">
            <h2>{{ 'Learn more about our'|trans() }} <span class="grand-hotel">{{ 'wonderful project'|trans() }}</span></h2>
        </div>

        <div class="description-infos">
            {{ entity.description|raw() }}

            <div class="double-separator"></div>
        </div>

        {% if projectMedias %}
        <div class="project-carousel carousel slide" id="project-carousel">
            <div class="carousel-inner">
                {% for projectMedia in projectMedias %}
                    {% if loop.index0 == 0 %}
                        <div class="item active">
                    {% elseif loop.index0 % 3 == 0 %}
                        </div>
                        <div class="item">
                    {% endif %}

                    <div class="thumb-cont">
                        {% if projectMedia.type == 'video' %}
                            <a href="{{ projectMedia.videoUrl }}?autoplay=1" class="fancybox fancybox.iframe">
                                <img class="carousel-thumbnail" src="{{ projectMedia.image }}"/>
                            </a>
                        {% else %}
                            <a href="{{ asset(projectMedia.image) }}" class="fancybox">
                                <img class="carousel-thumbnail" src="{{ asset(projectMedia.image) }}" alt="alt-LBJ - project image" />
                            </a>
                        {% endif %}
                    </div>

                    {% if loop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <a class="left carousel-arrow" href="#project-carousel" data-slide="prev">
                <img src="{{ asset('static/img/icons/icon-carousel-arrow-left.png') }}" alt="alt-LBJ - arrow left" />
            </a>
            <a class="right carousel-arrow" href="#project-carousel" data-slide="next">
                <img src="{{ asset('static/img/icons/icon-carousel-arrow-right.png') }}" alt="alt-LBJ - arrow right" />
            </a>
        </div>
        {% endif %}
    </div>

    {# N'affiche l'onglet que si c'est le créateur du projet, un admin LBJ, un admin marque, ou que le produit est validé #}
    {% if entity.product and (canCreateProduct or canEditProject or (entity.status == '2' and entity.product.validatedAt is defined)) %}
    {# ----- TAB 'PRODUIT' ------ #}
    <div class="tab-content-container" id="tabcont_4">
        <div class="wContent-video-container">
            {% if productMedias is not defined %}
                {% set productMedias = entity.product.medias %}
            {% endif %}

            {% if productMedias %}
                {% set hasDefaultMedia = false %}
                {% for productMedia in productMedias %}
                    {% if productMedia.highlighted %}
                        <img src="{{ asset(productMedia.image) }}" alt="alt-LBJ - brand" />
                        {% set hasDefaultMedia = true %}
                    {% endif %}
                {% endfor %}

                {% if not hasDefaultMedia %}
                    <img src="{{ asset('static/img/video.jpg') }}" alt="alt-LBJ - brand" />
                {% endif %}
            {% else %}
                <img src="{{ asset('static/img/video.jpg') }}" alt="alt-LBJ - brand" />
            {% endif %}
        </div>

        <div class="article-header">
            <h2>{{ entity.product }}</h2>
        </div>

        <div class="description-infos">
            {{ entity.product.description|raw() }}

            <div class="double-separator"></div>
        </div>

        {% if productMedias %}
            <div class="product-carousel carousel slide" id="product-carousel">
                <div class="carousel-inner">
                    {% for productMedia in productMedias %}
                        {% if loop.index0 == 0 %}
                            <div class="item active">
                        {% elseif loop.index0 % 3 == 0 %}
                            </div>
                            <div class="item">
                        {% endif %}

                        <div class="thumb-cont">
                            {% if productMedia.type == 'video' %}
                                <a href="{{ productMedia.videoUrl }}?autoplay=1" class="fancybox fancybox.iframe">
                                    <img class="carousel-thumbnail" src="{{ productMedia.image }}"/>
                                </a>
                            {% else %}
                                <a href="{{ asset(productMedia.image) }}" class="fancybox">
                                    <img class="carousel-thumbnail" src="{{ asset(productMedia.image) }}" alt="alt-LBJ - project image" />
                                </a>
                            {% endif %}
                        </div>

                        {% if loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <a class="left carousel-arrow" href="#product-carousel" data-slide="prev">
                    <img src="{{ asset('static/img/icons/icon-carousel-arrow-left.png') }}" alt="alt-LBJ - arrow left" />
                </a>
                <a class="right carousel-arrow" href="#product-carousel" data-slide="next">
                    <img src="{{ asset('static/img/icons/icon-carousel-arrow-right.png') }}" alt="alt-LBJ - arrow right" />
                </a>
            </div>
        {% endif %}

        {{ form(validation_form, {attr:{id:'validateProduct', role:'form'}}) }}
        <p><span id="showDeclineForm" class="btn btn-danger">{{ 'Decline'|trans() }}</span></p>
        <div class="clearfix">&nbsp;</div>
    </div>
    {% endif %}

    {# ----- TAB 'NEWS' ------ #}
    <div class="tab-content-container" id="tabcont_1">
        <div class="article-header">
            <h2><span class="grand-hotel">{{ 'News'|trans() }}</span> {{ 'about this project'|trans() }}</h2>
        </div>
        <div class="description-infos">
            {% if is_granted('ROLE_USER') and app.user.id == entity.user.id and entry_form is defined %}
                <h4>{{ 'Add new entry'|trans() }}</h4>
                {{ form(entry_form, {attr:{id:'entryForm', role:'form'}}) }}
                <div class="clearfix">&nbsp;</div>
                <div class="double-separator"></div>
            {% endif %}

            <div id="entryInfos">
            {% if entity.entries and entity.entries|length() > 0 %}
                <ul id="entries_list" class="media-list">
                {% for entry in entity.entries|reverse %}
                    {% if (is_granted('ROLE_USER') and app.user.id == entity.user.id) or (entry.isPublic) or (is_granted('ROLE_USER') and app.user.id in usersIds) %}
                        <li>
                            <div class="pull-right text-muted">{{ entry.createdAt|time_ago_in_words }}</div>
                            <h4 class="media-heading">{{ entry }}</h4>
                            <p>{{ entry.content|raw }}</p>
                            <li class="media">
                                <a class="pull-left" href="{{ path('littlebigjoe_frontendbundle_user_show', {'id': entry.project.user.id}) }}">
                                    {% if entry.project.user.photo %}
                                        <img class="media-object" src="{{ asset(entry.project.user.photo) }}" width="64" height="64" />
                                    {% else %}
                                        <img class="media-object" src="{{ asset('static/img/mascot-square.png') }}" alt="alt-LBJ - brand"  width="64" height="64" />
                                    {% endif %}
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ entry.project.user }}</h4>
                                </div>
                            </li>

                            <ul id="entryCommentsContainer_{{ entry.id }}" class="media media-list">
                            {% if entry.comments %}
                                {% for comment in entry.comments|reverse %}
                                    <li class="media">
                                        <a class="pull-left" href="{{ path('littlebigjoe_frontendbundle_user_show', {'id': comment.user.id}) }}">
                                            {% if comment.user.photo %}
                                                <img class="media-object" src="{{ asset(comment.user.photo) }}" width="64" height="64" />
                                            {% else %}
                                                <img class="media-object" src="{{ asset('static/img/mascot-square.png') }}" alt="alt-LBJ - brand"  width="64" height="64" />
                                            {% endif %}
                                        </a>
                                        <div class="media-body">
                                            <div class="pull-right text-muted">{{ comment.createdAt|time_ago_in_words }}</div>
                                            <h4 class="media-heading">{{ comment.user }}</h4>
                                            <p>{{ comment.content|raw }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            </ul>

                            <div class="parentEntryComment">
                                <a href="#entry-comment" data-project="{{ entry.project.id }}" data-entry="{{ entry.id }}" class="btn mosaic-style generate-entry-comment">{{ 'Add new entry comment'|trans() }}</a>
                            </div>
                        </li>
                    {% endif %}
                    <div class="double-separator"></div>
                {% endfor %}
                </ul>
                {% if entry_comment_form is defined %}
                <div id="entry-comment" class="hide">
                    <h4>{{ 'Add new entry comment'|trans() }}</h4>
                    {% include "LittleBigJoeFrontendBundle:FormFlow:buttons.html.twig" %}
                    {{ form(entry_comment_form) }}
                    <div class="clearfix">&nbsp;</div>
                </div>
                {% endif %}
                <div class="clearfix">&nbsp;</div>
            {% else %}
                <p><strong>{{ 'There\'s no news for the moment'|trans() }}</strong><p>
            {% endif %}
            </div>
        </div>
    </div>

    {# ----- TAB 'PARTICIPANTS' ------ #}
    <div class="tab-content-container" id="tabcont_2">
        <div class="article-header">
            {% set countParticipants = 0 %}
            {% if entity.contributions and entity.contributions|length() > 0 %}
                {% set already_shown_users_ids = [] %}
                {% for contribution in entity.contributions %}
                    {% if contribution.user.id not in already_shown_users_ids %}
                        {% set countParticipants = countParticipants+1 %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <h2>{{ 'Other'|trans() }} <span class="grand-hotel">{% transchoice countParticipants %}{0} participant|{1} participant|]1,Inf] participants{% endtranschoice %}</span> {{ 'to this project'|trans() }}</h2>
        </div>
        <div class="description-infos">
            {% if entity.contributions and entity.contributions|length() > 0 %}
                {% set already_shown_users_ids = [] %}
                <ul>
                    {% for contribution in entity.contributions %}
                        {% if contribution.user.id not in already_shown_users_ids %}
                            {% set already_shown_users_ids = already_shown_users_ids|merge([contribution.user.id]) %}
                            <li>
                                <a href="{{ path('littlebigjoe_frontendbundle_user_show', {'id': contribution.user.id}) }}">{{ contribution.user }}</a>
                                {% if usersAmounts[contribution.user.id] > 0 %}{{ 'gived'|trans() }} <strong>{{ usersAmounts[contribution.user.id] }} {{ '€'|trans() }}</strong>{% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p><strong>{{ 'There\'s no participants for the moment'|trans() }}</strong><p>
            {% endif %}
        </div>
    </div>

    {# ----- TAB 'COMMENTS' ------ #}
    {% if comment_form is defined %}
    <div class="tab-content-container" id="tabcont_3">
        <div class="article-header">
            <h2><span class="grand-hotel">{% transchoice entity.comments|length() %}{0} Comment|{1} Comment|]1,Inf] Comments{% endtranschoice %}</span> {{ 'regarding this project'|trans() }}</h2>
        </div>
        <div class="description-infos">
            <ul id="commentsContainer" class="media-list">
            {% if entity.comments and entity.comments|length() > 0 %}
                {% for comment in entity.comments|reverse %}
                    <li class="media">
                        <a class="pull-left" href="{{ path('littlebigjoe_frontendbundle_user_show', {'id': comment.user.id}) }}">
                            {% if comment.user.photo %}
                                <img class="media-object" src="{{ asset(comment.user.photo) }}" width="64" height="64" />
                            {% else %}
                                <img class="media-object" src="{{ asset('static/img/mascot-square.png') }}" alt="alt-LBJ - brand"  width="64" height="64" />
                            {% endif %}
                        </a>
                        <div class="media-body">
                            <div class="pull-right text-muted">{{ comment.createdAt|time_ago_in_words }}</div>
                            <h4 class="media-heading">{{ comment.user }}</h4>
                            <p>{{ comment.content|raw }}</p>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <p><strong>{{ 'There\'s no comments for the moment'|trans() }}</strong><p>
            {% endif %}
            </ul>

            {% if (is_granted('ROLE_USER') and app.user.id != entity.user.id) or (app.user is null) %}
                <div class="double-separator"></div>
                <div>
                    <h3>{{ 'Add new comment'|trans() }}</h3>
                    {{ form(comment_form, {attr:{id:'commentForm', role:'form'}}) }}
                </div>
                <div class="clearfix">&nbsp;</div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
