{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ 'Search for '|trans() }} <strong>{{ search }}</strong></h1>

    {% if projects_search %}
        {% for project in projects_search %}
            {% if project.photo %}
                <img src="{{ asset(project.photo) }}" width="200" height="200">
            {% else %}
                <strong>{{ 'No image'|trans() }}</strong>
            {% endif %}

            {% if project.brand.logo %}
                <img src="{{ asset(project.brand.logo) }}" width="50" height="50">
            {% endif %}

            <h3>
                <a href="{{ path('littlebigjoe_frontendbundle_project_show', {'slug': project.slug}) }}">{{ project.name }}</a>
            </h3>
            {% if project.status == '1' %}
                <span class="label label-primary">{{ 'Engagement phase'|trans() }}</span>
            {% else %}
                <span class="label label-success">{{ 'Funding phase'|trans() }}</span>
            {% endif %}

            <p>{{ project.pitch }}</p>
            <p>{{ 'By'|trans() }} <a
                        href="{{ path('littlebigjoe_frontendbundle_user_show', {'id': project.user.id}) }}">{{ project.user }}</a>
            </p>
        {% endfor %}
    {% else %}
        <p>{{ 'There\'s no project that match your query'|trans() }}</p>
    {% endif %}

    {% if users_search %}
        {% for user in users_search %}
            <h3>
                <a href="{{ path('littlebigjoe_frontendbundle_user_show', {'id': user.id}) }}">{{ user }}</a>
            </h3>

            {% if user.facebookUrl %}<a href="{{ user.facebookUrl }}">{{ 'Facebook URL'|trans() }}</a>{% endif %}
            {% if user.twitterUrl %}<a href="{{ user.twitterUrl }}">{{ 'Twitter URL'|trans() }}</a>{% endif %}
            {% if user.googleUrl %}<a href="{{ user.googleUrl }}">{{ 'Google URL'|trans() }}</a>{% endif %}

            <div class="clearfix">&nbsp;</div>
            {% if user.websiteUrl %}<a href="{{ user.websiteUrl }}">{{ user.websiteUrl }}</a>{% endif %}
            <div class="clearfix">&nbsp;</div>

            {% if user.photo %}
                <img src="{{ asset(user.photo) }}" width="250">
            {% else %}
                <strong>{{ 'N/A'|trans() }}</strong>
            {% endif %}

            <h2>{{ 'Biography'|trans() }}</h2>
            <p>{{ user.bio }}</p>
        {% endfor %}
    {% else %}
        <p>{{ 'There\'s no user that match your query'|trans() }}</p>
    {% endif %}
{% endblock %}