{% extends '::base.html.twig' %}

{% block title %}{{ title|trans() }} - {{ parent() }}{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('static/js/modules/progress-bars.js') }}" ></script>
{% endblock %}

{% block body %}
    <section>

    <div class="aside-part wMosaic">
        {% set side_menu_vars = {'brands': true, 'categories': true} %}
        {% include "LittleBigJoeFrontendBundle:includes:aside/side-menu.html.twig" with side_menu_vars %}
    </div>

    <article class="wMosaic">
        <div class="article-header">
            <h1>{{ 'Search for '|trans() }} <strong>{{ search }}</strong></h1>
        </div>

        {% if projects is not empty or users is not empty %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

            {% if projects is not empty %}
                {% for project in projects %}
                    <div class="mosaic-container">
                        {% set mosaic_pres_vars = {'project': project} %}
                        {% include "LittleBigJoeFrontendBundle:includes:pres/mosaic-pres.html.twig" with mosaic_pres_vars %}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>{{ 'There\'s no results for your search'|trans() }}</p>
        {% endif %}
    </article>
</section>
{% endblock %}