{% extends '::base.html.twig' %}

{% block title %}{{ title|trans() }} - {{ parent() }}{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('static/js/modules/progress-bars.js') }}" ></script>
{% endblock %}

{% block body %}
    <section>

    <div class="aside-part wMosaic">
        {% set side_menu_vars = {'brands': true, 'categories': true} %}
        {% include "LittleBigJoeFrontendBundle:includes:aside/side-menu.html.twig" with side_menu_vars %}
    </div>

    <article class="wMosaic">
        <div class="article-header">
            <h1>{{ 'Search for '|trans() }} <strong>{{ search }}</strong></h1>
        </div>

        {% if projects is not empty or users is not empty %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

            {% if projects is not empty %}
                {% for project in projects %}
                    <div class="mosaic-container">
                        {% set mosaic_pres_vars = {'project': project} %}
                        {% include "LittleBigJoeFrontendBundle:includes:pres/mosaic-pres.html.twig" with mosaic_pres_vars %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if users is not empty %}
                {% for user in users %}
                    <div class="brand-mosaic-container">
                        <div class="brand-sheet">
                            <div class="img-container">
                                {% if user.photo %}
                                    <img class="pres-thumbnail" src="{{ asset(user.photo)|apply_filter('260x174') }}" style="width:260px; height:174px">
                                {% else %}
                                    <img class="pres-thumbnail" src="{{ asset('static/img/mascot-square.png')|apply_filter('260x174')  }}" alt="alt-LBJ - project image" />
                                {% endif %}
                            </div>

                            <div class="brand-infos-container">
                                <h3><a href="{{ path('littlebigjoe_frontendbundle_user_show', {'id': user.id}) }}">{{ user }}</a></h3>
                                <div class="social-links">
                                    {% if user.facebookUrl %}
                                        <a href="{{ user.facebookUrl }}"><img class="icon" src="{{ asset('static/img/icons/icon-social-facebook.png') }}" alt="Facebook {{ user }}" /></a>
                                    {% endif %}
                                    {% if user.twitterUrl %}
                                        <a href="{{ user.twitterUrl }}"><img class="icon" src="{{ asset('static/img/icons/icon-social-twitter.png') }}" alt="Twitter {{ user }}" /></a>
                                    {% endif %}
                                    {% if user.googleUrl %}
                                        <a href="{{ user.googleUrl }}"><img class="icon" src="{{ asset('static/img/icons/icon-social-google.png') }}" alt="Google {{ user }}" /></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>{{ 'There\'s no results for your search'|trans() }}</p>
        {% endif %}
    </article>
</section>
{% endblock %}