{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-signin">
    <div class="default-empty">
        <h1>{{ 'Reset password'|trans() }}</h1>

        <div>
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <label for="username">{{ 'Your email address :'|trans }}</label>
            <input type="text" id="username" name="username" class="form-control" required="required"/>
        </div>
        <br/>

        <div>
            <button class="btn validate-style">{{ 'Reset password'|trans }}</button>
        </div>
    </div>
</form>
