{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST"
      class="form-signin">
    <div class="default-empty">
        <h1>{{ 'New password'|trans() }}</h1>
        <p>{{ 'Please enter the new password to access your account : ' }}</p>

        {{ form_widget(form) }}

        <div>
            <button class="btn validate-style">{{ 'Change password'|trans }}</button>
        </div>
    </div>
</form>
