{% extends '::base.html.twig' %}

{% block title %}
    {{ 'User'|trans() }} {{ entity }} | {{ parent() }}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}
    <h2>{{ 'User'|trans() }} {{ entity }}</h2>

    {% if entity.facebookUrl %}<a href="{{ entity.facebookUrl }}">{{ 'Facebook URL'|trans() }}</a>{% endif %}
    {% if entity.twitterUrl %}<a href="{{ entity.twitterUrl }}">{{ 'Twitter URL'|trans() }}</a>{% endif %}
    {% if entity.googleUrl %}<a href="{{ entity.googleUrl }}">{{ 'Google URL'|trans() }}</a>{% endif %}

    <div class="clearfix">&nbsp;</div>
    {% if entity.websiteUrl %}<a href="{{ entity.websiteUrl }}">{{ entity.websiteUrl }}</a>{% endif %}
    <div class="clearfix">&nbsp;</div>

    {% if entity.photo %}
        <img src="{{ asset(entity.photo) }}" width="250">
    {% else %}
        <strong>{{ 'N/A'|trans() }}</strong>
    {% endif %}

    <h2>{{ 'Biography'|trans() }}</h2>
    <p>{{ entity.bio }}</p>

    <div class="clearfix">&nbsp;</div>

    {% if entity.projects|length > 0 %}    		
    		<h2 id="projects">{{ 'His projects'|trans() }}</h2>
    
        {% for project in entity.projects %}
            {% if project.photo %}
                <img src="{{ asset(project.photo) }}" width="200" height="200">
            {% else %}
                <strong>{{ 'No image'|trans() }}</strong>
            {% endif %}

            {% if project.brand.logo %}
                <img src="{{ asset(project.brand.logo) }}" width="50" height="50">
            {% endif %}

            <h3>
                <a href="{{ path('littlebigjoe_frontendbundle_project_show', {'slug': project.slug}) }}">{{ project.name }}</a>
            </h3>
            {% if project.status == '1' %}
                <span class="label label-primary">{{ 'Engagement phase'|trans() }}</span>
            {% else %}
                <span class="label label-success">{{ 'Funding phase'|trans() }}</span>
            {% endif %}

            <p>{{ project.pitch }}</p>
            <p>
                <a href="{{ path('littlebigjoe_frontendbundle_category_show', {'slug': project.category.slug}) }}">{{ project.category }}</a>
            </p>

            {% if project.status == '1' %}
                <p>
                    <strong>{{ project.likesCount }}</strong> {{ 'likes'|trans() }} |
                    {% if project.likesCount == 0 %}
                        0
                    {% elseif ((project.likesCount/project.likesRequired) * 100) > 100 %}
                        100
                    {% else %}
                        {{ ((project.likesCount/project.likesRequired) * 100)|number_format(1, '.', ',') }}
                    {% endif %} %
                </p>
            {% else %}
                <p>
                    {% if project.amountCount == 0 %}
                        0
                    {% elseif ((project.amountCount/project.amountRequired) * 100) > 100 %}
                        100
                    {% else %}
                        {{ ((project.amountCount/project.amountRequired) * 100)|number_format(1, '.', ',') }}
                    {% endif %} % |
                    <strong>{{ project.amountCount }}</strong>{{ '€'|trans() }} |
                    {{ project.endingAt|time_remaining }}
                </p>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <div class="clearfix">&nbsp;</div>
    
    {% if distinctProjects|length > 0 %}    		
    		<h2 id="projects_contributions">{{ 'Projects in which the user has participated'|trans() }}</h2>
    
        {% for project in distinctProjects %}
            {% if project.photo %}
                <img src="{{ asset(project.photo) }}" width="200" height="200">
            {% else %}
                <strong>{{ 'No image'|trans() }}</strong>
            {% endif %}

            {% if project.brand.logo %}
                <img src="{{ asset(project.brand.logo) }}" width="50" height="50">
            {% endif %}

            <h3>
                <a href="{{ path('littlebigjoe_frontendbundle_project_show', {'slug': project.slug}) }}">{{ project.name }}</a>
            </h3>
            {% if project.status == '1' %}
                <span class="label label-primary">{{ 'Engagement phase'|trans() }}</span>
            {% else %}
                <span class="label label-success">{{ 'Funding phase'|trans() }}</span>
            {% endif %}

            <p>{{ project.pitch }}</p>
            <p>
                <a href="{{ path('littlebigjoe_frontendbundle_category_show', {'slug': project.category.slug}) }}">{{ project.category }}</a>
            </p>

            {% if project.status == '1' %}
                <p>
                    <strong>{{ project.likesCount }}</strong> {{ 'likes'|trans() }} |
                    {% if project.likesCount == 0 %}
                        0
                    {% elseif ((project.likesCount/project.likesRequired) * 100) > 100 %}
                        100
                    {% else %}
                        {{ ((project.likesCount/project.likesRequired) * 100)|number_format(1, '.', ',') }}
                    {% endif %} %
                </p>
            {% else %}
                <p>
                    {% if project.amountCount == 0 %}
                        0
                    {% elseif ((project.amountCount/project.amountRequired) * 100) > 100 %}
                        100
                    {% else %}
                        {{ ((project.amountCount/project.amountRequired) * 100)|number_format(1, '.', ',') }}
                    {% endif %} % |
                    <strong>{{ project.amountCount }}</strong>{{ '€'|trans() }} |
                    {{ project.endingAt|time_remaining }}
                </p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}