{% extends '::base.html.twig' %}

{% block meta_title %}
    {{ entity }} | {{ parent() }}
{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('static/js/modules/progress-bars.js') }}" ></script>
{% endblock %}

{% block body %}
    <section>
        <div class="aside-part classic">
            <div class="biography">
                <h2>{{ 'Biography of'|trans() }} <span class="grand-hotel">{{ entity }}</span></h2>
                <p>{{ entity.bio|default('N/A'|trans())|truncate(300) }}</p>
            </div>
        </div>

        <article class="wContent classic">
            <div class="white-container">

            <div class="wContent-id-title">
                <h1>{{ entity }}</h1>
                <div class="brand-location"><img class="icon" src="{{ asset('static/img/icons/icon-location.png') }}" alt="alt-LBJ - location icon" /> <strong>{{ entity.city }}</strong> ({{ entity.country|country(app.request.locale) }})</div>

                {% set status = 'follow' %}
                {% if is_granted('ROLE_USER') %}
                    {% for follower in entity.followers %}
                        {% if app.user.id == follower.id %}
                            {% set status = 'followed' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if (is_granted('ROLE_USER') and app.user.id != entity.id) or (is_granted('IS_AUTHENTICATED_ANONYMOUSLY') and not is_granted('ROLE_USER')) %}
                    {% include "LittleBigJoeFrontendBundle:includes:utils/follow-button.html.twig" with {'status': status, 'type': 'user'} %}
                {% endif %}
            </div>

            <div class="wContent-id-img">
                {% if entity.photo %}
		    <img src="{{ asset(entity.photo)|apply_filter('240x240') }}" />
                {% else %}
		    <img src="{{ asset('static/img/mascot-square.png')|apply_filter('240x240') }}" />
                {% endif %}
            </div>

            <div class="wContent-id-infos">
                <div><span class="orange-text">{{ entity.getAvailableProjects }}</span> {% transchoice entity.getAvailableProjects %}{0} project|{1} project|]1,Inf] projects{% endtranschoice %}</div>
                <div>{{ 'Registered since'|trans() }} <strong>{{ entity.mangopayCreatedAt|localizeddate('long', 'none') }}</strong></div>
                {% if entity.websiteUrl %}<a href="{{ entity.websiteUrl }}" target="_blank"><div class="orange-text"><strong>{{ entity.websiteUrl }}</strong></div></a>{% endif %}
                <div class="social-links">
                    {% if entity.twitterUrl %}<a href="{{ entity.twitterUrl }}" target="_blank"><img class="icon" src="{{ asset('static/img/icons/icon-social-twitter.png') }}" alt="alt-LBJ - social" /></a>{% endif %}
                    {% if entity.facebookUrl %}<a href="{{ entity.facebookUrl }}" target="_blank"><img class="icon" src="{{ asset('static/img/icons/icon-social-facebook.png') }}" alt="alt-LBJ - social" /></a>{% endif %}
                    {#<a href="#"><img class="icon" src="static/img/icons/icon-social-pinterest.png" alt="alt-LBJ - social" /></a>#}
                    {% if entity.googleUrl %}<a href="{{ entity.googleUrl }}" target="_blank"><img class="icon" src="{{ asset('static/img/icons/icon-social-google.png') }}" alt="alt-LBJ - social" /></a>{% endif %}
                </div>
            </div>

            {% if entity.getAvailableProjects|length > 0 %}
                <div class="article-header">
                    <h2><img class="icon" src="{{ asset('static/img/icons/icon-projects-blue.png') }}" alt="alt-LBJ - projects icon" />
                        {% if entity.getAvailableProjects > 0 and entity.gender == '0' %}
                            {{ 'His'|trans() }}
                        {% elseif entity.getAvailableProjects > 0 and entity.gender == '1' %}
                            {{ 'Her'|trans() }}
                        {% endif %}
                        {% transchoice entity.getAvailableProjects %}{0} No project|{1} project|]1,Inf] projects{% endtranschoice %}
                    </h2>
                    <div class="separator"></div>
                </div>

                {% for project in entity.projects if project.deletedAt == null %}
                    <div class="list-container">
                        {% set list_pres_vars = {'project': project} %}
                        {% include "LittleBigJoeFrontendBundle:includes:pres/list-pres.html.twig" with list_pres_vars %}
                    </div>
                {% endfor %}
            {% else %}
                <p class="nodata">{{ 'There\'s no projects for the moment.'|trans() }}</p>
            {% endif %}

            {% if distinctProjects|length > 0 %}
                <div class="article-header">
                    <h2><img class="icon" src="{{ asset('static/img/icons/icon-projects-blue.png') }}" alt="alt-LBJ - projects icon" />
                        {% transchoice distinctProjects|length %}{0} No project in which the user has participated|{1} Project in which the user has participated|]1,Inf] Projects in which the user has participated{% endtranschoice %}</h2>
                    <div class="separator"></div>
                </div>

                {% for distinctProject in distinctProjects %}
                    <div class="list-container">
                        {% set list_pres_vars = {'project': distinctProject} %}
                        {% include "LittleBigJoeFrontendBundle:includes:pres/list-pres.html.twig" with list_pres_vars %}
                    </div>
                {% endfor %}
            {% else %}
                <p class="nodata">{{ 'There\'s no contributions for the moment.'|trans() }}</p>
            {% endif %}
            </div>
        </article>
    </section>
{% endblock %}

{% block footer_javascripts %}
	{{ parent() }}
	<script type="text/javascript">
	    var currentUserId = {{ entity.id }};

	    $(document).ready(function () {                
	        // Follow request 
	        $('#followUser').click(function (e) {
	           $.post("{{ path('littlebigjoe_frontendbundle_ajax_follow_user') }}", { 'userId' : currentUserId })
	           .done(function(data) { 
                   if (data.status == 'OK')
                   {
                           $('#followUser').hide();
                           $('#unfollowUser').show();
                   }
                   else if (data.status == 'KO USER')
                   {
                           window.location = "{{ path('fos_user_security_login') }}";
                   }
	           });
	        });

            // Hover
            $(".followed-style").hover(function(){
                $(this).html("{{ 'Unfollow'|trans() }}");
            }, function(){
                $(this).html("{{ 'Followed'|trans() }}");
            });
	        
	        // Unfollow request 
            $('#unfollowUser').click(function (e) {
                $.post("{{ path('littlebigjoe_frontendbundle_ajax_unfollow_user') }}", { 'userId' : currentUserId })
                .done(function(data) {
                    if (data.status == 'OK')
                    {
                          $('#unfollowUser').hide();
                          $('#followUser').show();
                    }
                    else if (data.status == 'KO USER')
                    {
                          window.location = "{{ path('fos_user_security_login') }}";
                    }
                });
            });
	     });
	</script>
{% endblock %}
