{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'Edit FAQ'|trans() }} {{ entity.question|striptags }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="faq-header">
        <h1><span class="glyphicon glyphicon-edit"></span> {{ 'Edit FAQ'|trans() }} <span
                    class="text-primary">{{ entity.question|striptags }}</span></h1>
    </div>
    <p class="lead">{{ 'Please fill these fields, to edit the FAQ :'|trans() }}</p>

    {{ form(edit_form, {attr:{role:'form' }}) }}

    <div class="clearfix">&nbsp;</div>
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_faqs') }}">
            {{ 'Back to the list'|trans() }}
        </a>
    </p>

    <div class="clearfix">&nbsp;</div>
    <fieldset>
        <legend>{{ 'Delete this faq'|trans() }}</legend>
        <p>{{ 'By clicking on the button below, you\'ll delete the faq'|trans() }}</p>

        {{ form(delete_form, {attr:{role:'form' }}) }}
    </fieldset>
    <div class="clearfix">&nbsp;</div>
{% endblock %}