{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'backend.faqs_list'|trans() }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="faq-header">
        <h1><span class="glyphicon glyphicon-list"></span> {{ 'backend.faqs_list'|trans() }}</h1>
    </div>
    <p class="lead">{{ 'backend.faqs_list_resume'|trans() }}</p>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'backend.ID'|trans(), 'f.id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'backend.question'|trans(), 'f.question') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'backend.answer'|trans(), 'f.answer') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'backend.is_visible'|trans(), 'f.isVisible') }}</th>
            <th>{{ 'backend.actions'|trans() }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>
                    <a href="{{ path('littlebigjoe_backendbundle_faqs_show', { 'id': entity.id }) }}">#{{ entity.id }}</a>
                </td>
                <td>{{ entity.question|striptags[:80] }} ...</td>
                <td>{{ entity.answer|striptags[:80] }} ...</td>
                <td>
                    {% if entity.isVisible %}
                        <span class="label label-success">{{ 'backend.visible'|trans() }}</span>
                    {% else %}
                        <span class="label label-default">{{ 'backend.invisible'|trans() }}</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary btn-xs"
                       href="{{ path('littlebigjoe_backendbundle_faqs_show', { 'id': entity.id }) }}">{{ 'backend.show'|trans() }}</a>
                    <a class="btn btn-default btn-xs"
                       href="{{ path('littlebigjoe_backendbundle_faqs_edit', { 'id': entity.id }) }}">{{ 'backend.edit'|trans() }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <p>
        <a class="btn btn-primary" href="{{ path('littlebigjoe_backendbundle_faqs_new') }}">
            {{ 'backend.create_faq'|trans() }}
        </a>
    </p>
{% endblock %}
