{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'backend.faq'|trans() }} {{ entity.question|striptags }} | {{ parent() }}
{% endblock %}

{% block body %}
<div class="faq-header">
    <h1><span class="glyphicon glyphicon-search"></span> {{ 'backend.faq'|trans() }} <span
                class="text-primary">{{ entity.question|striptags }}</span></h1>
</div>
<p class="lead">{{ 'backend.faq_infos'|trans() }}</p>

<h3 class="media-heading">{{ entity.question|striptags }}</h4>
    {% if entity.isVisible %}
        <span class="label label-success">{{ 'backend.visible'|trans() }}</span>
    {% else %}
        <span class="label label-default">{{ 'backend.invisible'|trans() }}</span>
    {% endif %}
    <div class="clearfix">&nbsp;</div>
    {{ entity.answer|raw }}

    <div class="clearfix">&nbsp;</div>
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_faqs') }}">
            {{ 'backend.back_to_list'|trans() }}
        </a>
        <a class="btn btn-primary" href="{{ path('littlebigjoe_backendbundle_faqs_edit', { 'id': entity.id }) }}">
            {{ 'backend.edit'|trans() }}
        </a>
    </p>
    {% endblock %}
