{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'backend.edit_brand'|trans() }} {{ entity.name }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-edit"></span> {{ 'backend.edit_brand'|trans() }} {{ entity.name }}</h1>
    </div>
    <p class="lead">{{ 'backend.fill_fields'|trans() }}</p>

    {{ form(edit_form, {attr:{role:'form' }}) }}

    <div class="clearfix">&nbsp;</div>
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_brands') }}">
            {{ 'backend.back_to_list'|trans() }}
        </a>
    </p>

    <div class="clearfix">&nbsp;</div>
    <fieldset>
        <legend>{{ 'backend.delete_brand'|trans() }}</legend>
        <p>{{ 'backend.delete_confirmation_brand'|trans() }}</p>

        {{ form(delete_form, {attr:{role:'form' }}) }}
    </fieldset>
    <div class="clearfix">&nbsp;</div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#littlebigjoe_bundle_frontendbundle_brand_name').on('keyup', null, function () {
                var rExps = [
                    {re: /[\xC0-\xC6]/g, ch: 'A'},
                    {re: /[\xE0-\xE6]/g, ch: 'a'},
                    {re: /[\xC8-\xCB]/g, ch: 'E'},
                    {re: /[\xE8-\xEB]/g, ch: 'e'},
                    {re: /[\xCC-\xCF]/g, ch: 'I'},
                    {re: /[\xEC-\xEF]/g, ch: 'i'},
                    {re: /[\xD2-\xD6]/g, ch: 'O'},
                    {re: /[\xF2-\xF6]/g, ch: 'o'},
                    {re: /[\xD9-\xDC]/g, ch: 'U'},
                    {re: /[\xF9-\xFC]/g, ch: 'u'},
                    {re: /[\xC7-\xE7]/g, ch: 'c'},
                    {re: /[\xD1]/g, ch: 'N'},
                    {re: /[\xF1]/g, ch: 'n'}
                ];
                var title_value = $(this).val();

                for (var i = 0, len = rExps.length; i < len; i++)
                    title_value = title_value.replace(rExps[i].re, rExps[i].ch);

                title_value = title_value.toLowerCase().replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '').replace(/\-{2,}/g, '-');
                $('#littlebigjoe_bundle_frontendbundle_brand_slug').val(title_value);
            });
        });
    </script>
{% endblock %}
