{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'backend.brand'|trans() }} {{ entity.name }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-search"></span> {{ 'backend.brand'|trans() }} {{ entity.name }}</h1>
    </div>
    <p class="lead">{{ 'backend.brand_infos'|trans() }}</p>

    <div class="row">
        <div class="col-sm-6 col-md-3 pull-left">
            <a href="#" class="thumbnail text-center">
                {% if entity.logo %}
                    <img src="{{ asset(entity.logo) }}">
                {% else %}
                    <strong>{{ 'backend.na'|trans() }}</strong>
                {% endif %}
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">{{ entity.name }}</h4>
                {{ entity.description|raw }}
        </div>
    </div>
    
    <div class="clearfix">&nbsp;</div>
    
    <ul class="nav nav-tabs" id="tabs">
		  <li class="active"><a href="#social">{{ 'backend.social_infos'|trans() }}</a></li>
		  <li><a href="#contact">{{ 'backend.contact_infos'|trans() }}</a></li>
		</ul>
				
   	<div class="tab-content">
			<div class="tab-pane active" id="social">
			    <div class="clearfix">&nbsp;</div>
			    <p>{{ 'backend.facebook_url'|trans() }} : {% if entity.facebookUrl %}
			    		<a target="_blank" href="{{ entity.facebookUrl }}">{{ entity.facebookUrl }}</a>{% else %}{{ 'backend.na'|trans() }}{% endif %}
			    </p>
			    <p>{{ 'backend.twitter_url'|trans() }} : {% if entity.twitterUrl %}
			    <a target="_blank" href="{{ entity.twitterUrl }}">{{ entity.twitterUrl }}</a>{% else %}{{ 'backend.na'|trans() }}{% endif %}
		       </p>
		       <p>{{ 'backend.googleplus_url'|trans() }} : {% if entity.googleUrl %}<a target="_blank"
		                                                                                             href="{{ entity.googleUrl }}">{{ entity.googleUrl }}</a>{% else %}{{ 'backend.na'|trans() }}{% endif %}
		       </p>
		       <p>{{ 'backend.website_url'|trans() }} : {% if entity.websiteUrl %}<a target="_blank"
		                                                                                              href="{{ entity.websiteUrl }}">{{ entity.websiteUrl }}</a>{% else %}{{ 'backend.na'|trans() }}{% endif %}
		       </p>
		  </div>			

			<div class="tab-pane" id="contact">
   				<div class="clearfix">&nbsp;</div>
			    <h4>{{ 'backend.contact_infos'|trans() }}</h4>
			    <p><strong>{{ entity.contactName }}</strong> (<a
			                href="mailto:{{ entity.contactEmail }}">{{ entity.contactEmail }}</a>)</p>
			    <p>{{ entity.contactStatus }} - {{ entity.contactPhone }}</p>
			</div>		
		</div>
		
    <div class="clearfix">&nbsp;</div>
    
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_brands') }}">
            {{ 'backend.back_to_list'|trans() }}
        </a>
        <a class="btn btn-primary" href="{{ path('littlebigjoe_backendbundle_brands_edit', { 'id': entity.id }) }}">
            {{ 'backend.edit'|trans() }}
        </a>
    </p>
{% endblock %}

{% block footer_javascripts %}
		{{ parent() }}
		<script type="text/javascript">
				$(document).ready(function(){
						$('#tabs a').click(function (e) {
						  e.preventDefault()
						  $(this).tab('show')
						});
				});
		</script>
{% endblock %}
