<div id="{{ productMedia.type }}_{{ productMedia.id }}" style="float:left; width:30%">
    <img src="{{ productMedia.image }}" width="100" />
    <input type="checkbox" checked="checked" class="mediaId" name="createProduct[{{ productMedia.type }}s][]" id="createProduct_{{ productMedia.type }}s_{{ productMedia.id }}" value="{{ productMedia.id }}" />
    <input type="hidden" class="mediaType" name="createProduct_{{ productMedia.type }}_{{ productMedia.id }}_type" id="createProduct_{{ productMedia.type }}_{{ productMedia.id }}_type" value="{{ productMedia.type }}" />
    <div class="clearfix"></div>
    <p>
        <span class="highlightGalleryItem">{% if productMedia.highlighted %}<i class="fa fa-star"></i>{% else %}<i class="fa fa-star-o"></i>{% endif %}</span>
        <span class="deleteGalleryItem"><i class="fa fa-trash-o"></i></span>
    </p>
</div>