<ul class="rewards" data-prototype="{{ form_widget(projectRewards.vars.prototype)|e }}">
    {% for reward in projectRewards %}
        <li class="clearfix">
            {{ form_row(reward.title) }}
            {{ form_row(reward.description) }}
            {{ form_row(reward.amount) }}
            {{ form_row(reward.stock) }}
            {{ form_row(reward.maxQuantityByUser) }}
        </li>
    {% endfor %}
</ul>