{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'New user'|trans() }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="user-header">
        <h1><span class="glyphicon glyphicon-plus"></span> {{ 'New user'|trans() }}</h1>
    </div>
    <p class="lead">{{ 'Please fill these fields, to create a new user :'|trans() }}</p>

    {{ form(form, {attr:{role:'form' }}) }}

    <div class="clearfix">&nbsp;</div>
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_users') }}">
            {{ 'Back to the list'|trans() }}
        </a>
    </p>
{% endblock %}