{% extends '::admin.html.twig' %}

{% block title %}
    {{ 'New user'|trans() }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="user-header">
        <h1><span class="glyphicon glyphicon-plus"></span> {{ 'New user'|trans() }}</h1>
    </div>
    <p class="lead">{{ 'Please fill these fields, to create a new user :'|trans() }}</p>

    {{ form(form, {attr:{role:'form' }}) }}

    <div class="clearfix">&nbsp;</div>
    <p>
        <a class="btn btn-default" href="{{ path('littlebigjoe_backendbundle_users') }}">
            {{ 'Back to the list'|trans() }}
        </a>
    </p>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/littlebigjoebackend/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // CKEditor
            var ckeditor_conf = [
                { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source', '-', 'NewPage', '-', 'Templates' ] },
                { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
                { name: 'editing', groups: [ 'spellchecker' ], items: [ 'Scayt' ] },
                { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
                { name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar', 'PageBreak', 'Iframe' ] },
                { name: 'tools', items: [ 'Maximize' ] },
                '/',
                { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
            ];

            CKEDITOR.replace('littlebigjoe_bundle_frontendbundle_user_bio', {
                toolbar: ckeditor_conf
            });
        });
    </script>
{% endblock %}