{% extends '::base.html.twig' %}

{% block meta_title %}
    {% if status == 'OK' %}
    		{{ 'Payment confirmation'|trans() }} | {{ parent() }}
    {% else %}
    		{{ 'Error during payment'|trans() }} | {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <section>
    <article>
        <div class="white-container">
            <div class="article-header">
                {% if status == 'OK' %}
                    <h2>{{ 'Payment confirmation'|trans() }}</h2>
                {% else %}
                    <h2>{{ 'Error during payment'|trans() }}</h2>
                {% endif %}
            </div>

            <div class="description-infos">
                {% if status == 'OK' %}
                    <p>{{ 'Thanks for your payment.'|trans() }}</p>
                    <p>{{ 'You\'ll receive an confirmation email with your payment invoice.'|trans() }}</p>
                {% else %}
                    <p>{{ 'A problem has occured during your payment.'|trans() }}</p>
                    <p>{{ 'Please try again.'|trans() }}</p>
                {% endif %}

                <div class="clearfix">&nbsp;</div>
                <p><a href="{{ path('littlebigjoe_frontendbundle_home') }}">{{ 'Go back to homepage'|trans() }}</a></p>
            </div>
        </div>
    </article>
</section>
{% endblock %}
